
.overlay-container-popup {
    display: none;
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    font-family: "Pontano Sans", Helvetica;
    font-size: 13px;
    color: #000000;

}
.button {
		display: inline-block;
		margin-right: .5em;
		box-shadow: inset 0px 1px 0px rgba(255,255,255,0.4),
						0px 0px 25px rgba(0,0,0,0.3);
		
		padding: 5px 5px;
		border: 1px solid #562f15;
		font-size: 15px;
		font-weight: normal;
		color: #000000;
		border-radius: 3px;
		cursor: pointer;
		background: #fff;
		
	}

.window-container-popup {
    display: block;
    background: #fcfcfc;
    
    width: 360px;
    height: 370px;
    padding: 10px 20px 20px;
    text-align: left;
    z-index: 3;
    border-radius: 3px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -ms-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out; 
    transition: 0.4s ease-out;
    opacity: 0;
}
.zoomin {
    -webkit-transform:  scale(1.2);
    -moz-transform:  scale(1.2);
    -ms-transform:  scale(1.2);
    transform:  scale(1.2);
}

.zoomout {
    -webkit-transform:  scale(0.7);
    -moz-transform:  scale(0.7);
    -ms-transform:  scale(0.7);
    transform:  scale(0.7);
}

.window-container-visible-popup {
    -webkit-transform:  scale(1);
    -moz-transform:  scale(1);
    -ms-transform:  scale(1);
    transform:  scale(1);
    opacity: 1;
}


.close-popup {
    margin: 1em auto;
    display: block;
    text-align: center;
    width: 70px;
    height: 70px;
    background: #fafafa;
    background: -moz-linear-gradient(top,  #fafafa 0%, #f4f4f4 40%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(40%,#f4f4f4), color-stop(100%,#e5e5e5));
    background: -webkit-linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
    background: -o-linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%); 
    background: -ms-linear-gradient(top,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%);
    background: linear-gradient(to bottom,  #fafafa 0%,#f4f4f4 40%,#e5e5e5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e5e5e5',GradientType=0 );
    border: 2px solid #aaa;
    padding: 5px 5px;
    color: #000000;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: 0 1px 3px #ddd;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    cursor: pointer;
}