<tbody><tr>
								<td valign="top" id="templateUpperHeader" class="templateHeader">
									<table align="left" cellpadding="0" cellspacing="0" width="100%">
										<tbody><tr>
											<td align="left" valign="middle">
												<img src="https://gallery.mailchimp.com/87ce8f25ff95a7f203c76c0ab/images/47662b23-df38-45d4-8005-9b2f50193f4b.png" height="30" width="15" style="boder:0; display:block;">
											</td>
											<td align="left" valign="middle" width="100%" mc:container="upper_header_container" mccontainer="upper_header_container" class="tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coloca bloques de contenido aquí</font></font></div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_0" widgetid="mojo_neapolitan_preview_McBlock_0">
    <div class="editedOverlay" style="display:none" data-dojo-attach-point="editedOverlay">
        <span data-dojo-attach-point="editType"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por: </font></font><span class="userName" data-dojo-attach-point="editedBy"></span>
    </div>

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
			    
				<!--[if mso]>
				<td valign="top" width="560" style="width:560px;">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                        
                            <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CUMBRE DE LA BANANA DEL BANANACO</font></font></h1>

<h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SEDE MUNDIAL DE BANANACO</font></font></h3>

                        </td>
                    </tr>
                </tbody></table>
				<!--[if mso]>
				</td>
				<![endif]-->
                
				<!--[if mso]>
				</tr>
				</table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <span title="Arrastre para reordenar" class="tpl-block-drag dojoDndHandle freddicon vellip-square"></span>
        <a title="Editar Bloquear" href="#" class="tpl-block-edit" data-dojo-attach-point="editBtn"><span class="freddicon edit"></span></a>
        <a title="Bloque duplicado" href="#" class="tpl-block-clone" data-dojo-attach-point="cloneBtn"><span class="freddicon duplicate"></span></a>
        <a title="Eliminar bloque" href="#" class="tpl-block-delete" data-dojo-attach-point="deleteBtn"><span class="freddicon trash"></span></a>
    </div>
</div></td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" class="templateHeader">
									<table align="left" cellpadding="0" cellspacing="0" width="100%">
										<tbody><tr>
											<td align="left" valign="middle" width="100%" mc:container="lower_header_container" mccontainer="lower_header_container" class="tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coloca bloques de contenido aquí</font></font></div><div class="mojoMcBlock tpl-block dojoDndItem focus" id="mojo_neapolitan_preview_McBlock_1" widgetid="mojo_neapolitan_preview_McBlock_1">
    <div class="editedOverlay" style="display:none" data-dojo-attach-point="editedOverlay">
        <span data-dojo-attach-point="editType"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por: </font></font><span class="userName" data-dojo-attach-point="editedBy"></span>
    </div>

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
    <tbody class="mcnImageBlockOuter">
            <tr>
                <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                    <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                        <tbody><tr>
                            <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;">
                                
                                    
                                        <img align="center" alt="" src="https://gallery.mailchimp.com/0d61bb2ec9002f0e9872b8c36/images/main_image.png" width="590" style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage blockDropTarget" id="dijit__Templated_1" widgetid="dijit__Templated_1">
                                    
                                
                            </td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <span title="Arrastre para reordenar" class="tpl-block-drag dojoDndHandle freddicon vellip-square"></span>
        <a title="Editar Bloquear" href="#" class="tpl-block-edit" data-dojo-attach-point="editBtn"><span class="freddicon edit"></span></a>
        <a title="Bloque duplicado" href="#" class="tpl-block-clone" data-dojo-attach-point="cloneBtn"><span class="freddicon duplicate"></span></a>
        <a title="Eliminar bloque" href="#" class="tpl-block-delete" data-dojo-attach-point="deleteBtn"><span class="freddicon trash"></span></a>
    </div>
</div></td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" id="templateColumns">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tbody><tr>
											<td valign="top">
												<!--[if gte mso 9]>
												<table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
												<tr>
												<td align="center" valign="top" width="400" style="width:400px;">
												<![endif]-->
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="380" id="templateBody">
													<tbody><tr>
														<td mc:container="body_container" mccontainer="body_container" class="tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coloca bloques de contenido aquí</font></font></div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_2" widgetid="mojo_neapolitan_preview_McBlock_2">
    <div class="editedOverlay" style="display:none" data-dojo-attach-point="editedOverlay">
        <span data-dojo-attach-point="editType"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por: </font></font><span class="userName" data-dojo-attach-point="editedBy"></span>
    </div>

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
			    
				<!--[if mso]>
				<td valign="top" width="380" style="width:380px;">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                        
                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La Bananaco Banana Summit brinda a los bananeros y empresas de todo el mundo una oportunidad única para reunirse y discutir la cosa de la que le enviamos un correo electrónico.</font></font></p>

<p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Prepárate para tres días de palabras y cosas! </font><font style="vertical-align: inherit;">Dado que nuestro último evento fue un éxito, abriremos 120 asientos adicionales a nuestro taller este año.</font></font></p>

                        </td>
                    </tr>
                </tbody></table>
				<!--[if mso]>
				</td>
				<![endif]-->
                
				<!--[if mso]>
				</tr>
				</table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <span title="Arrastre para reordenar" class="tpl-block-drag dojoDndHandle freddicon vellip-square"></span>
        <a title="Editar Bloquear" href="#" class="tpl-block-edit" data-dojo-attach-point="editBtn"><span class="freddicon edit"></span></a>
        <a title="Bloque duplicado" href="#" class="tpl-block-clone" data-dojo-attach-point="cloneBtn"><span class="freddicon duplicate"></span></a>
        <a title="Eliminar bloque" href="#" class="tpl-block-delete" data-dojo-attach-point="deleteBtn"><span class="freddicon trash"></span></a>
    </div>
</div></td>
													</tr>
												</tbody></table>
												<!--[if gte mso 9]>
												</td>
												<td align="center"  valign="top" width="200" style="width:200px;">
												<![endif]-->
												<table align="left" border="0" cellpadding="0" cellspacing="0" width="186" id="templateSidebar">
													<tbody><tr>
														<td align="center" valign="top" style="padding-top:9px; padding-bottom:9px;">
															<table border="0" cellpadding="5" cellspacing="5" width="150" id="calendarContainer">
																<tbody><tr>
																	<td align="center" bgcolor="#EFEFEF" valign="top" id="monthContainer">
																		<div mc:edit="month" mc:type="text" id="uniqName_47_0" widgetid="uniqName_47_0"><div class="edit-content"><div class="tpl-content"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
																			Septiembre 2016
																		</font></font></div><span class="edit-content-links"><span><a class="edit-content-link tpl-link" href="#" mc:action="edit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar</font></font></a></span></span></div></div>
																	</td>
																</tr>
																<tr>
																	<td align="center" valign="top" id="dayContainer">
																		<div mc:edit="day" mc:type="text" id="uniqName_47_1" widgetid="uniqName_47_1"><div class="edit-content"><div class="tpl-content"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">27</font></font></div><span class="edit-content-links"><span><a class="edit-content-link tpl-link" href="#" mc:action="edit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Editar</font></font></a></span></span></div></div>
																	</td>
																</tr>
															</tbody></table>
														</td>
													</tr>
													<tr>
														<td valign="top" mc:container="sidebar_container" mccontainer="sidebar_container" class="tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coloca bloques de contenido aquí</font></font></div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_3" widgetid="mojo_neapolitan_preview_McBlock_3">
    <div class="editedOverlay" style="display:none" data-dojo-attach-point="editedOverlay">
        <span data-dojo-attach-point="editType"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por: </font></font><span class="userName" data-dojo-attach-point="editedBy"></span>
    </div>

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
			    
				<!--[if mso]>
				<td valign="top" width="186" style="width:186px;">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                        
                            Regístrese hoy, este evento se venderá!
                        </font></font></td>
                    </tr>
                </tbody></table>
				<!--[if mso]>
				</td>
				<![endif]-->
                
				<!--[if mso]>
				</tr>
				</table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <span title="Arrastre para reordenar" class="tpl-block-drag dojoDndHandle freddicon vellip-square"></span>
        <a title="Editar Bloquear" href="#" class="tpl-block-edit" data-dojo-attach-point="editBtn"><span class="freddicon edit"></span></a>
        <a title="Bloque duplicado" href="#" class="tpl-block-clone" data-dojo-attach-point="cloneBtn"><span class="freddicon duplicate"></span></a>
        <a title="Eliminar bloque" href="#" class="tpl-block-delete" data-dojo-attach-point="deleteBtn"><span class="freddicon trash"></span></a>
    </div>
</div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_4" widgetid="mojo_neapolitan_preview_McBlock_4">
    <div class="editedOverlay" style="display:none" data-dojo-attach-point="editedOverlay">
        <span data-dojo-attach-point="editType"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por: </font></font><span class="userName" data-dojo-attach-point="editedBy"></span>
    </div>

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
    <tbody class="mcnButtonBlockOuter">
        <tr>
            <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonContentContainer" style="border-collapse: separate !important;border: 5px solid #FFFFFF;background-color: #60CA2E;">
                    <tbody>
                        <tr>
                            <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Helvetica; font-size: 14px; padding: 15px;">
                                <a class="mcnButton " title="REGISTRO" href="http://" target="_self" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">REGISTRO</font></font></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <span title="Arrastre para reordenar" class="tpl-block-drag dojoDndHandle freddicon vellip-square"></span>
        <a title="Editar Bloquear" href="#" class="tpl-block-edit" data-dojo-attach-point="editBtn"><span class="freddicon edit"></span></a>
        <a title="Bloque duplicado" href="#" class="tpl-block-clone" data-dojo-attach-point="cloneBtn"><span class="freddicon duplicate"></span></a>
        <a title="Eliminar bloque" href="#" class="tpl-block-delete" data-dojo-attach-point="deleteBtn"><span class="freddicon trash"></span></a>
    </div>
</div></td>
													</tr>
												</tbody></table>
												<!--[if gte mso 9]>
												</td>
												</tr>
												</table>
												<![endif]-->
											</td>
											<td align="right" valign="top" style="padding-top:18px;">
												<img src="https://gallery.mailchimp.com/87ce8f25ff95a7f203c76c0ab/images/03c9e5d8-4a2f-471e-b646-37327134c2b0.png" height="30" width="15" style="boder:0; display:block;">
											</td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" id="templateLowerBody">
									<table align="left" cellpadding="0" cellspacing="0" width="100%">
										<tbody><tr>
											<td align="left" valign="middle">
												<img src="https://gallery.mailchimp.com/87ce8f25ff95a7f203c76c0ab/images/47662b23-df38-45d4-8005-9b2f50193f4b.png" height="30" width="15" style="boder:0; display:block;">
											</td>
											<td align="left" valign="middle" width="100%" mc:container="lower_body_container" mccontainer="lower_body_container" class="tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coloca bloques de contenido aquí</font></font></div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_5" widgetid="mojo_neapolitan_preview_McBlock_5">
    <div class="editedOverlay" style="display:none" data-dojo-attach-point="editedOverlay">
        <span data-dojo-attach-point="editType"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por: </font></font><span class="userName" data-dojo-attach-point="editedBy"></span>
    </div>

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock" style="min-width:100%;">
    <tbody class="mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer" style="min-width:100%;">
    <tbody><tr>
        <td align="center" style="padding-left:9px;padding-right:9px;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;" class="mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    <!--[if mso]>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                    <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                    <a href="http://www.facebook.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/light-facebook-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="mcnFollowTextContent" style="padding-left:5px;">
                                                                                    <a href="http://www.facebook.com/" target="" style="font-family: Helvetica;font-size: 11px;text-decoration: none;color: #505050;font-weight: bold;text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">AMIGO EN FACEBOOK</font></font></a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                    <a href="http://www.twitter.com/" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/light-twitter-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="mcnFollowTextContent" style="padding-left:5px;">
                                                                                    <a href="http://www.twitter.com/" target="" style="font-family: Helvetica;font-size: 11px;text-decoration: none;color: #505050;font-weight: bold;text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">SIGA EN TWITTER</font></font></a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                        <!--[if mso]>
                                        <td align="center" valign="top">
                                        <![endif]-->
                                        
                                        
                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:0; padding-bottom:9px;" class="mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentItem">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px; padding-right:10px; padding-bottom:5px; padding-left:9px;">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                        <tbody><tr>
                                                                            
                                                                                <td align="center" valign="middle" width="24" class="mcnFollowIconContent">
                                                                                    <a href="http://mailchimp.com" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/light-link-48.png" style="display:block;" height="24" width="24" class=""></a>
                                                                                </td>
                                                                            
                                                                            
                                                                                <td align="left" valign="middle" class="mcnFollowTextContent" style="padding-left:5px;">
                                                                                    <a href="http://mailchimp.com" target="" style="font-family: Helvetica;font-size: 11px;text-decoration: none;color: #505050;font-weight: bold;text-align: center;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">VISITA NUESTRA PÁGINA</font></font></a>
                                                                                </td>
                                                                            
                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        
                                        <!--[if mso]>
                                        </td>
                                        <![endif]-->
                                    
                                    <!--[if mso]>
                                    </tr>
                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <span title="Arrastre para reordenar" class="tpl-block-drag dojoDndHandle freddicon vellip-square"></span>
        <a title="Editar Bloquear" href="#" class="tpl-block-edit" data-dojo-attach-point="editBtn"><span class="freddicon edit"></span></a>
        <a title="Bloque duplicado" href="#" class="tpl-block-clone" data-dojo-attach-point="cloneBtn"><span class="freddicon duplicate"></span></a>
        <a title="Eliminar bloque" href="#" class="tpl-block-delete" data-dojo-attach-point="deleteBtn"><span class="freddicon trash"></span></a>
    </div>
</div></td>
										</tr>
									</tbody></table>
								</td>
							</tr>
							<tr>
								<td valign="top" id="templateFooter" mc:container="footer_container" mccontainer="footer_container" class="tpl-container dojoDndSource dojoDndTarget dojoDndContainer"><div class="mojoMcContainerEmptyMessage" style="display: none;"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Coloca bloques de contenido aquí</font></font></div><div class="mojoMcBlock tpl-block dojoDndItem" id="mojo_neapolitan_preview_McBlock_6" widgetid="mojo_neapolitan_preview_McBlock_6">
    <div class="editedOverlay" style="display:none" data-dojo-attach-point="editedOverlay">
        <span data-dojo-attach-point="editType"></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> por: </font></font><span class="userName" data-dojo-attach-point="editedBy"></span>
    </div>

    <!-- Content of the block will get inserted inside of this -->
    <div data-dojo-attach-point="containerNode"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
        <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              	<!--[if mso]>
				<table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
				<tr>
				<![endif]-->
			    
				<!--[if mso]>
				<td valign="top" width="595" style="width:595px;">
				<![endif]-->
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody><tr>
                        
                        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
                        
                            <em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Copyright © * | CURRENT_YEAR | * * | LIST: COMPANY | *, Todos los derechos reservados. </font></font></em>
<br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
* | IFNOT: ARCHIVE_PAGE | * * | LISTA: DESCRIPCIÓN | *
     </font></font><br>
    <br>
    <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nuestra dirección de correo es:</font></font></strong>
    <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 
    * | HTML: LIST_ADDRESS_HTML | * * | END: SI | *
     </font></font><br>
    <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
	¿Quiere cambiar cómo recibe estos correos? </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    Puede </font></font><a href="*|UPDATE_PROFILE|*"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">actualizar sus preferencias</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> o </font></font><a href="*|UNSUB|*"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">anular la suscripción de esta lista</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .
    </font></font><br>
    <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
    * | SI: REWARDS | * * | HTML: REWARDS | * * | END: IF | *

                        </font></font></td>
                    </tr>
                </tbody></table>
				<!--[if mso]>
				</td>
				<![endif]-->
                
				<!--[if mso]>
				</tr>
				</table>
				<![endif]-->
            </td>
        </tr>
    </tbody>
</table></div>

    <div class="tpl-block-controls">
        <span title="Arrastre para reordenar" class="tpl-block-drag dojoDndHandle freddicon vellip-square"></span>
        <a title="Editar Bloquear" href="#" class="tpl-block-edit" data-dojo-attach-point="editBtn"><span class="freddicon edit"></span></a>
        <a title="Bloque duplicado" href="#" class="tpl-block-clone" data-dojo-attach-point="cloneBtn"><span class="freddicon duplicate"></span></a>
        <a title="Eliminar bloque" href="#" class="tpl-block-delete" data-dojo-attach-point="deleteBtn"><span class="freddicon trash"></span></a>
    </div>
</div></td>
							</tr>
						</tbody>