<footer id="footer" class="clearfix ">

    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-content">
                            <div class="logo-footer"><img id="logo-footer" src="../../images/logo2016.png" alt=""></div>
                            <p>La Escuela de Posgrado de la Universidad Peruana Unión le abre a usted sus puertas y le invita a ser parte de esta comunidad universitaria que tiene como norte la excelencia y como vocación el servicio a Dios y a la humanidad.</a></p>
                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="../../autoridades.html">Autoridades</a></li>
                                    <li><a href="../../index.html">Bienvenida</a></li>
                                    <li><a href="../../reglamentos.html">Reglamentos</a></li>
                                    <li><a href="#">Directorio telefónico</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Últimas noticias</h2>
                            <div class="separator-2"></div>
                            <div class="media margin-clear">
                                <div class="media-left">
                                    <div class="overlay-container">
                                        <img class="media-object" src="../../images/logo-aniversario-2017.png" alt="blog-thumb">
                                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="http://www.upeu.edu.pe/aniversario-2017">Aniversario de la Universdiad Peruana Unión </a></h6>
                                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Del 1 - 30 de Abril </p>
                                </div>
                                <hr>
                            </div>
                            <div class="media margin-clear">
                                <div class="media-left">
                                    <div class="overlay-container">
                                        <img class="media-object" src="../../images/upgpsico/cursosformacion.jpg" alt="blog-thumb">
                                        <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="#">EPG Piscología - Cursos de Formación Continua</a></h6>
                                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Abril-Mayo-Junio</p>
                                </div>
                                <hr>
                            </div>
                            <!--<div class="media margin-clear">
                                <div class="media-left">
                                    <div class="overlay-container">
                                        <img class="media-object" src="images/blog-thumb-3.jpg" alt="blog-thumb">
                                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="III_Coloquio_Investigación">III Coloquio de Investigación Científica...</a></h6>
                                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2017</p>
                                </div>
                                <hr>
                            </div>
                            <div class="media margin-clear">
                                <div class="media-left">
                                    <div class="overlay-container">
                                        <img class="media-object" src="images/blog-thumb-4.jpg" alt="blog-thumb">
                                        <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading"><a href="Inicio_Clases">Inicio de clases 2017...</a></h6>
                                    <p class="small margin-clear"><i class="fa fa-calendar pr-10"></i>Mar 21, 2017</p>
                                </div>
                            </div>-->
                            <div class="text-right space-top">
                                <a href="../../noticias" class="link-dark"><i class="fa fa-plus-circle pl-5 pr-5"></i>Más</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Programas</h2>
                            <div class="separator-2"></div>
                           <div class="row grid-space-10">
                                <div class="col-xs-4 col-md-6">
                                    <div class="overlay-container mb-10">
                                        <img src="../../images/Programas/doctorados.png" alt="">
                                        <a href="#" class="overlay-link small">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-6">
                                    <div class="overlay-container mb-10">
                                        <img src="../../images/Programas/maestrias.png" alt="">
                                        <a href="#" class="overlay-link small">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-6">
                                    <div class="overlay-container mb-10">
                                        <img src="../../images/Programas/especialidades.png" alt="">
                                        <a href="#" class="overlay-link small">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-6">
                                    <div class="overlay-container mb-10">
                                        <img src="../../images/Programas/diplomados.png" alt="">
                                        <a href="#" class="overlay-link small">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-6">
                                    <div class="overlay-container mb-10">
                                        <img src="../../images/Programas/cursos.png" alt="">
                                        <a href="#" class="overlay-link small">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-6">
                                    <div class="overlay-container mb-10">
                                        <img src="../../images/Programas/eventos.png" alt="">
                                        <a href="#" class="overlay-link small">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-content">
                            <h2 class="title">Encuéntranos</h2>
                            <div class="separator-2"></div>
                            <p>Requieres de más información, síguenos en las redes sociales o ubícanos por los medios siguientes:</p>
                            <ul class="social-links circle animated-effect-1">
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/EscueladePosgrado.UPeU"><i class="fa fa-facebook"></i></a></li>
                                <li class="twitter"><a target="_blank" href="https://twitter.com/UPEUEPG"><i class="fa fa-twitter"></i></a></li>
                                <!--<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>-->

                            </ul>
                            <div class="separator-2"></div>
                            <ul class="list-icons">
                                <li><i class="fa fa-map-marker pr-10 text-default"></i> Carretera Central Km. 19.0 Ñaña, Lima - Perú</li>
                                <li><i class="fa fa-phone pr-10 text-default"></i> (511)618-6315 / (511)618-6316</li>
                                <li><a href="mailto:info@theproject.com"><i class="fa fa-envelope-o pr-10"></i>atencionposgrado@upeu.edu.pe | secretariaepg@upeu.edu.pe</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->

    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter default-bg">
        <div class="container">
            <div class="subfooter-inner">

                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">  UPeU | Escuela de Posgrado 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- .subfooter end -->

</footer>