h1, h2, h3, h4, h5{font-family:"Roboto Condensed", sans-serif; line-height:175%; font-weight:bold; color:#696969 }


div.catItemHeader h3.catItemTitle{font-family:"Roboto Condensed", sans-serif; line-height:175%; font-weight:bold; color:#696969 }
div.catItemHeader h3.catItemTitle{font-size:20px;}

.logo{padding-left:0 !important;}

/*mainmenu*/
#t3-mainnav{padding-right:0 !important;}

/*cajas iniciales*/
.box-background-info{background:#5BC0DE}
.box-background-info:before{background:#4490A6}
.box-background-gray-dark{background:#444444}
.box-background-gray-dark:before{background:#262626}
.box-background-brand-warning{background:#F0AD4E}
.box-background-brand-warning:before{background:#B4823A}
.box-background-brand-secondary{background:#7BC673}
.box-background-brand-secondary:before{background:#5CB85C}

.module-title{text-transform:none !important; font-size:22px; font-weight:bold; color:#696969}
.t3-sl-1 .module-title{font-size:24px !important;}
.mega-group-title{text-transform:none !important; padding: 0 0 10px 0 !important; border-bottom:solid 1px #fff}

/*mapa*/
.mapa{margin:0 !important;padding:0 !important;}

/*itemContent*/
@media (min-width: 480px){
	div.itemContent, div.catItemContent {padding-left:0;}
}

/**/
.row-feature h3, .row-feature .h3 {text-transform:none}

/*masthead*/
.ja-masthead{padding:25px 0}
.ja-masthead:after{background:#25BED4}

/*k2*/
#k2Container > .componentheading{font-size:22px; font-family:"Roboto Condensed", sans-serif;line-height:1.15; font-weight:700; margin-bottom:25px;}
#itemListLeading > .hr {margin-top:25px !important; margin-bottom:25px !important}
.hr:last-child{border-bottom:none;}
div.itemIsFeatured, div.catItemIsFeatured, div.userItemIsFeatured {background:none;}

/*btn*/
.btn-primary{background-color:#25BED4 !important; border-color:#25BED4}
.contact .contact-form .btn-primary{border-radius:4px; font-weight:400;padding:6px 12px; text-align:left;}
.contact .contact-form .control-btn{text-align:left;}

/*enlaces*/
a,.contact .contact-links li a,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.t3-footnav .t3-module ul > li > a:hover, .t3-footnav .t3-module ul > li > a:active, .t3-footnav .t3-module ul > li > a:focus
{color:#25BED4}
a:hover, a:focus{color:#1C8E9F !important}

.attribution p.ja-author{color:#25BED4}

/*footer*/
.t3-footnav .t3-module ul > li > a{font-size:12px;}

/*formulario de contacto*/
#chronoform-contacto-solicitud > div > label{font-weight:normal}
.gbs3 label{font-weight:normal !important}
#form-row-submit6, #form-row-button2{margin-top:40px;}
#submit6, #button2{ background: #25BED4; border-color:#25BED4}

.chronoform > .form-group > .gcore-input-wide > input, .chronoform > .form-group > .gcore-subinput-container > .gcore-input-wide > input, .form-group > .gcore-subinput-container-wide > .gcore-input-wide > input, .chronoform > .form-group > .gcore-input-wide > textarea{border:1px solid #ebebeb; background:#fafafa; border-radius:0; box-shadow:none; -webkit-box-shadow:none; width:100% !important}

/*testimonios*/
.attribution .ja-thumb {position: relative;border:none;padding:0;}  
.attribution .ja-thumb > img {border:solid 1px #e7e7e7;padding:5px;}  
	.testimonios{margin-bottom:0 !important;}
	.testimonios .nspTopInterface{float:left; margin:0 0 5px 0}
	.testimonios .attribution {padding:30px 20px 0px 10px;}
	.testimonios .attribution .ja-thumb {height:inherit;width:inherit;}  
	.testimonios .attribution .ja-thumb img {width:auto;}  
	.nspArts{padding:0 !important;}
	
/*accordion*/
.ja-accordion ul.ja-accordion-containner {
  margin: 0;
  padding: 0;
}
.ja-accordion ul.ja-accordion-containner li {
  list-style: none;
  margin-bottom: -1px;
}
.ja-accordion ul.ja-accordion-containner li h3.ja-accordion-title.active{background:#fff !important; border-color:#696969 !important; color:#696969}
.ja-accordion ul.ja-accordion-containner li h3.ja-accordion-title {  border: 1px solid #696969;  cursor: pointer;  font-size: 15px;  margin: 0; padding: 15px 25px;  position: relative;}
.ja-accordion ul.ja-accordion-containner li div.ja-accordion-content .content {border: 1px solid #e7e7e7;border-top: none;padding: 25px; }
.ja-accordion ul.ja-accordion-containner li div.ja-accordion-content .content p a{color:#999; }
.ja-accordion ul.ja-accordion-containner li div.ja-accordion-content .content p a:hover{color:#696969 !important;}
.ja-accordion ul.ja-accordion-containner li h3.ja-accordion-title.active:before {
  content: "\f147";
  color: #ffffff;
}
.ja-accordion ul.ja-accordion-containner li h3.ja-accordion-title:before {
  content: "\f196";
  color: #aaa;
  display: block;
  font-family: "FontAwesome";
  font-size: 14px;
  position: absolute;
  right: 15px;
  top: 17px;
}

/*slider*/
.ja-contentslider-center .jsslide{padding:0 2px !important}
.ja-contentslider-center{margin:0 !important}

.t3-mainbody{padding-bottom:0;}

/*barra lateral*/
.t3-sidebar{padding-bottom:0;}


/*miniautras cuadradas*/
span.catItemImage img {
  max-width: none;
}

.gallery {
float: left;
margin: 0 10px 0 0;
position: relative;
width: 150px;
height: 150px;
overflow:hidden;
}
.gallery img {
position: absolute;
clip: rect(0 188px 173px 15px);
left: -15px;
}

/*Articulos*/
div.catItemImageBlock { margin:0;}
span.catItemImage, span.itemImage{float:left;}

/*estilos ms*/
.ms-box-blue{background:#3498DB; padding:40px 0}
.ms-box-blue:hover{background:#258cd1; transition:0.4}
.ms-box-blue > .category-module-item-inner > .article-content > h4 > a.mod-articles-category-title, .ms-box-blue > .category-module-item-inner > .article-content > h4 > a.mod-articles-category-title:hover{color:#fff !important}
.ms-box-blue > .category-module-item-inner > .article-content > h4{margin:20px 0 0 0}

/*youtube slider*/
.responsive .sliderwrapper .contentdiv{margin:0 !important; padding:0 !important}

/*cabecera modulos*/
.row-feature .row-feature-title{font-size:22px; color:#696969 !important; margin-bottom:25px;}

/*icono personas*/
.t3-module.box-icon-personas:before {
  content: "\f0c0";
}

/*sistemas*/
.t3-module.box-icon-sistemas:before {
  content: "\f109";
}

/*estrategia*/
.t3-module.box-icon-estrategia:before {
  content: "\f140";
}

/*JCE editor*/
body.mceContentBody {background:#FFF !important;}