
a:active,
a:focus {
  outline: 0;
}
img {
  border: none;
}
#k2Container {
  padding: 0;
  position: relative;
}
body.contentpane #k2Container {
  padding: 16px;
}
.k2Padding {
  padding: 4px;
}
.clr {
  border: none;
  clear: both;
  display: block;
  float: none;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.even {
  background: #ffffff;
  border-bottom: 1px dotted #e7e7e7;
  padding: 2px;
}
.odd {
  background: #ffffff;
  border-bottom: 1px dotted #e7e7e7;
  padding: 2px;
}
div.k2FeedIcon {
  float: none;
  margin-bottom: 12.5px;
}
div.k2FeedIcon a,
div.k2FeedIcon a:hover {
  background: url("../images/fugue/feed.png") no-repeat 50% 50%;
  display: block;
  float: right;
  height: 16px;
  margin: 0;
  padding: 0;
  width: 16px;
}
div.k2FeedIcon a span,
div.k2FeedIcon a:hover span {
  display: none;
}
.itemRatingForm {
  display: inline-block;
  line-height: 25px;
  vertical-align: middle;
}
.itemRatingLog {
  float: left;
  font-size: 11px;
  margin: 0;
  padding: 0 0 0 4px;
}
div.itemRatingForm .formLogLoading {
  background: url("../images/system/loading.gif") no-repeat left center;
  height: 25px;
  padding: 0 0 0 20px;
}
.itemRatingList,
.itemRatingList a:hover,
.itemRatingList .itemCurrentRating {
  background: transparent url("../images/system/transparent_star.png") left -1000px repeat-x;
}
.itemRatingList {
  background-position: left top;
  float: left;
  height: 25px;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 125px;
}
.itemRatingList li {
  background: none;
  display: inline;
  padding: 0;
}
.itemRatingList a,
.itemRatingList .itemCurrentRating {
  border: none;
  cursor: pointer;
  height: 25px;
  left: 0;
  line-height: 25px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: -1000px;
  top: 0;
}
.itemRatingList a:hover {
  background-position: left bottom;
}
.itemRatingList a.one-star {
  width: 20%;
  z-index: 6;
}
.itemRatingList a.two-stars {
  width: 40%;
  z-index: 5;
}
.itemRatingList a.three-stars {
  width: 60%;
  z-index: 4;
}
.itemRatingList a.four-stars {
  width: 80%;
  z-index: 3;
}
.itemRatingList a.five-stars {
  width: 100%;
  z-index: 2;
}
.itemRatingList .itemCurrentRating {
  background-position: 0 center;
  margin: 0;
  padding: 0;
  z-index: 1;
}
span.siteRoot {
  display: none;
}
.smallerFontSize {
  font-size: 100%;
  line-height: inherit;
}
.largerFontSize {
  font-size: 150%;
  line-height: 140%;
}
.recaptchatable .recaptcha_image_cell,
#recaptcha_table {
  background: #ffffff !important;
}
#recaptcha_table {
  border-color: #e7e7e7 !important;
}
#recaptcha_response_field {
  background: #ffffff !important;
  border-color: #e7e7e7 !important;
}
div.k2LatestCommentsBlock ul,
div.k2TopCommentersBlock ul,
div.k2ItemsBlock ul,
div.k2LoginBlock ul,
div.k2UserBlock ul.k2UserBlockActions,
div.k2UserBlock ul.k2UserBlockRenderedMenu,
div.k2ArchivesBlock ul,
div.k2AuthorsListBlock ul,
div.k2CategoriesListBlock ul,
div.k2UsersBlock ul {
  padding: 0;
}
div.k2LatestCommentsBlock ul li,
div.k2TopCommentersBlock ul li,
div.k2ItemsBlock ul li,
div.k2LoginBlock ul li,
div.k2UserBlock ul.k2UserBlockActions li,
div.k2UserBlock ul.k2UserBlockRenderedMenu li,
div.k2ArchivesBlock ul li,
div.k2AuthorsListBlock ul li,
div.k2CategoriesListBlock ul li,
div.k2UsersBlock ul li {
  list-style: none;
  padding: 0 0 12.5px;
}
div.k2LatestCommentsBlock ul li a,
div.k2TopCommentersBlock ul li a,
div.k2ItemsBlock ul li a,
div.k2LoginBlock ul li a,
div.k2UserBlock ul.k2UserBlockActions li a,
div.k2UserBlock ul.k2UserBlockRenderedMenu li a,
div.k2ArchivesBlock ul li a,
div.k2AuthorsListBlock ul li a,
div.k2CategoriesListBlock ul li a,
div.k2UsersBlock ul li a {
  color: #333333;
  font-size: 15px;
  font-weight: normal;
  font-family: sans-serif;
}
div.k2LatestCommentsBlock ul li a:hover,
div.k2TopCommentersBlock ul li a:hover,
div.k2ItemsBlock ul li a:hover,
div.k2LoginBlock ul li a:hover,
div.k2UserBlock ul.k2UserBlockActions li a:hover,
div.k2UserBlock ul.k2UserBlockRenderedMenu li a:hover,
div.k2ArchivesBlock ul li a:hover,
div.k2AuthorsListBlock ul li a:hover,
div.k2CategoriesListBlock ul li a:hover,
div.k2UsersBlock ul li a:hover,
div.k2LatestCommentsBlock ul li a:active,
div.k2TopCommentersBlock ul li a:active,
div.k2ItemsBlock ul li a:active,
div.k2LoginBlock ul li a:active,
div.k2UserBlock ul.k2UserBlockActions li a:active,
div.k2UserBlock ul.k2UserBlockRenderedMenu li a:active,
div.k2ArchivesBlock ul li a:active,
div.k2AuthorsListBlock ul li a:active,
div.k2CategoriesListBlock ul li a:active,
div.k2UsersBlock ul li a:active,
div.k2LatestCommentsBlock ul li a:focus,
div.k2TopCommentersBlock ul li a:focus,
div.k2ItemsBlock ul li a:focus,
div.k2LoginBlock ul li a:focus,
div.k2UserBlock ul.k2UserBlockActions li a:focus,
div.k2UserBlock ul.k2UserBlockRenderedMenu li a:focus,
div.k2ArchivesBlock ul li a:focus,
div.k2AuthorsListBlock ul li a:focus,
div.k2CategoriesListBlock ul li a:focus,
div.k2UsersBlock ul li a:focus {
  color: #3498db;
  text-decoration: none;
}
div.k2LatestCommentsBlock ul li > .moduleItemDateCreated,
div.k2TopCommentersBlock ul li > .moduleItemDateCreated,
div.k2ItemsBlock ul li > .moduleItemDateCreated,
div.k2LoginBlock ul li > .moduleItemDateCreated,
div.k2UserBlock ul.k2UserBlockActions li > .moduleItemDateCreated,
div.k2UserBlock ul.k2UserBlockRenderedMenu li > .moduleItemDateCreated,
div.k2ArchivesBlock ul li > .moduleItemDateCreated,
div.k2AuthorsListBlock ul li > .moduleItemDateCreated,
div.k2CategoriesListBlock ul li > .moduleItemDateCreated,
div.k2UsersBlock ul li > .moduleItemDateCreated,
div.k2LatestCommentsBlock ul li > .lcCommentDate,
div.k2TopCommentersBlock ul li > .lcCommentDate,
div.k2ItemsBlock ul li > .lcCommentDate,
div.k2LoginBlock ul li > .lcCommentDate,
div.k2UserBlock ul.k2UserBlockActions li > .lcCommentDate,
div.k2UserBlock ul.k2UserBlockRenderedMenu li > .lcCommentDate,
div.k2ArchivesBlock ul li > .lcCommentDate,
div.k2AuthorsListBlock ul li > .lcCommentDate,
div.k2CategoriesListBlock ul li > .lcCommentDate,
div.k2UsersBlock ul li > .lcCommentDate {
  font-size: 12px;
  display: block;
}
div.k2LatestCommentsBlock ul li + li,
div.k2TopCommentersBlock ul li + li,
div.k2ItemsBlock ul li + li,
div.k2LoginBlock ul li + li,
div.k2UserBlock ul.k2UserBlockActions li + li,
div.k2UserBlock ul.k2UserBlockRenderedMenu li + li,
div.k2ArchivesBlock ul li + li,
div.k2AuthorsListBlock ul li + li,
div.k2CategoriesListBlock ul li + li,
div.k2UsersBlock ul li + li {
  padding-top: 12.5px;
}
.clearList {
  clear: both;
  display: none;
  float: none;
}
.lastItem {
  border: none;
}
.k2Avatar img {
  display: block;
  float: left;
  max-width: 100%;
}
div.k2Pagination {
  color: #999999;
  margin: 24px 0 4px 0;
  padding: 8px;
  text-align: center;
}
div.k2Pagination ul {
  text-align: center;
}
div.k2Pagination ul li {
  display: inline;
}
div.itemIsFeatured,
div.catItemIsFeatured,
div.userItemIsFeatured {
  background: url("../images/system/featuredItem.png") no-repeat 100% 0;
}
div.itemContent {
  position: relative;
}
@media (min-width: 480px) {
  div.itemContent {
    padding-left: 90px;
  }
}
a.itemPrintThisPage {
  background: #F7FAFE;
  border: 1px solid #e7e7e7;
  color: #555555;
  display: block;
  font-size: 13px;
  margin: 4px auto 16px;
  padding: 4px;
  text-align: center;
  width: 160px;
}
a.itemPrintThisPage:hover {
  background: #eee;
  text-decoration: none;
}
div.itemView {
  margin: 0 0 24px 0;
  padding: 8px 0 24px 0;
}
span.itemEditLink {
  display: block;
  float: right;
  margin: 0;
  padding: 4px 0;
  text-align: right;
  width: 120px;
}
span.itemEditLink a {
  background: #eee;
  border: 1px solid #e7e7e7;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 2px 12px;
  text-decoration: none;
  position: static;
  overflow: visible;
  display: inline-block;
}
span.itemEditLink a:hover {
  background: #ffffcc;
}
span.itemDateCreated {
  background: #3498db;
  color: #ffffff;
  display: block;
  position: absolute;
  padding: 5px;
  line-height: 25px;
  left: 0;
  top: 0;
  text-align: center;
  width: 60px;
}
span.itemDateCreated .month-year {
  font-size: 12px;
}
span.itemDateCreated .date {
  font-size: 24px;
  display: block;
}
div.itemHeader h2.itemTitle {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.4;
  margin: 0 0 12.5px 80px;
}
@media (min-width: 768px) {
  div.itemHeader h2.itemTitle {
    font-size: 26px;
    margin-left: 0px;
  }
}
div.itemHeader h2.itemTitle a {
  color: #333333;
}
div.itemHeader h2.itemTitle a:hover,
div.itemHeader h2.itemTitle a:focus,
div.itemHeader h2.itemTitle a:active {
  color: #3498db;
  text-decoration: none;
}
div.itemHeader h2.itemTitle span sup {
  color: #CF1919;
  font-size: 12px;
  text-decoration: none;
}
div.itemHeader span.itemAuthor {
  display: block;
  margin: 0;
  padding: 0;
}
div.itemToolbar {
  background: #f7f7f7;
  margin: 12.5px 0 0 0;
  padding: 2px 0;
}
div.itemToolbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
div.itemToolbar ul li {
  background: none;
  border-left: 1px solid #e7e7e7;
  display: inline;
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0 4px 0 8px;
  text-align: center;
}
div.itemToolbar ul > li:first-child {
  border: none;
}
div.itemToolbar ul li a {
  font-size: 12px;
  font-weight: normal;
}
div.itemToolbar ul li a img {
  vertical-align: middle;
}
div.itemToolbar ul li a#fontDecrease {
  margin: 0 0 0 2px;
}
div.itemToolbar ul li a#fontDecrease img {
  background: url("../images/system/font_decrease.gif") no-repeat;
  height: 13px;
  width: 13px;
}
div.itemToolbar ul li a#fontIncrease {
  margin: 0 0 0 2px;
}
div.itemToolbar ul li a#fontIncrease img {
  background: url("../images/system/font_increase.gif") no-repeat;
  height: 13px;
  width: 13px;
}
div.itemToolbar ul li a#fontDecrease span,
div.itemToolbar ul li a#fontIncrease span {
  display: none;
}
div.itemRatingBlock {
  padding: 8px 0;
}
div.itemRatingBlock span {
  color: #999;
  display: block;
  float: left;
  font-style: normal;
  margin: 0;
  padding: 0 4px 0 0;
}
div.itemBody {
  margin: 0;
  padding: 0;
}
div.itemImageBlock {
  margin: 0 0 25px 0;
}
span.itemImage {
  display: block;
  margin: 0 0 8px 0;
  text-align: center;
}
span.itemImage .modal {
  border: 0px;
  display: block;
  margin: 0;
  position: static;
  top: auto;
  left: auto;
  width: auto;
  overflow: visible;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
span.itemImage img {
  max-width: 100%;
}
span.itemImageCaption {
  color: #666;
  display: block;
  float: left;
  font-size: 11px;
}
span.itemImageCredits {
  color: #999999;
  display: block;
  float: right;
  font-size: 11px;
  font-style: italic;
}
div.itemIntroText {
  font-weight: 600;
}
div.itemFullText h3 {
  margin: 0;
  padding: 16px 0 4px 0;
}
div.itemExtraFields {
  border-top: 1px dotted #e7e7e7;
  margin: 16px 0 0 0;
  padding: 8px 0 0 0;
}
div.itemExtraFields h3 {
  line-height: normal !important;
  margin: 0;
  padding: 0 0 8px 0;
}
div.itemExtraFields ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.itemExtraFields ul li {
  display: block;
}
div.itemExtraFields ul li span.itemExtraFieldsLabel {
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 4px 0 0;
  width: 30%;
}
div.itemContentFooter {
  border-top: 1px solid #e7e7e7;
  color: #999999;
  display: block;
  margin: 12.5px 0;
  text-align: right;
  padding: 12.5px 0;
}
span.itemHits {
  float: left;
}
div.itemSocialSharing {
  padding: 8px 0;
}
div.itemTwitterButton {
  float: left;
  margin: 2px 24px 0 0;
}
div.itemFacebookButton {
  float: left;
  margin-right: 24px;
  width: 200px;
}
div.itemLinks {
  margin: 16px 0;
  padding: 0;
}
div.itemCategory {
  border-bottom: 1px dotted #e7e7e7;
  padding: 4px;
}
div.itemCategory span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.itemTagsBlock span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.itemTagsBlock ul.itemTags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.itemTagsBlock ul.itemTags li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 4px 0 0;
  text-align: center;
}
div.itemAttachmentsBlock {
  border-bottom: 1px dotted #e7e7e7;
  padding: 4px;
}
div.itemAttachmentsBlock span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.itemAttachmentsBlock ul.itemAttachments {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.itemAttachmentsBlock ul.itemAttachments li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 4px;
  text-align: center;
}
div.itemAttachmentsBlock ul.itemAttachments li span {
  color: #999999;
  font-size: 10px;
  font-weight: normal;
}
div.itemAuthorBlock {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  margin: 0 0 50px 0;
  padding: 25px;
}
div.itemAuthorBlock img.itemAuthorAvatar {
  display: block;
  float: left;
  margin: 0 25px 0 0;
}
div.itemAuthorBlock div.itemAuthorDetails {
  margin: 0;
  padding: 4px 0 0 0;
}
div.itemAuthorBlock div.itemAuthorDetails h3.authorName,
div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 12.5px;
}
div.itemAuthorBlock div.itemAuthorDetails h3.authorName a,
div.itemAuthorBlock div.itemAuthorDetails h3.itemAuthorName a {
  color: #333333;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl {
  border-right: 1px solid #e7e7e7;
  color: #555555;
  font-weight: bold;
  margin: 0 4px 0 0;
  padding: 0 8px 0 0;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail {
  color: #555555;
  font-weight: bold;
}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl a,
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail a {
  font-weight: normal;
}
div.itemAuthorLatest h3 {
  background: transparent;
  color: #333333;
  font-size: 15px;
  margin: 0 0 12.5px 0;
  padding: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  div.itemAuthorLatest h3 {
    margin-bottom: 25px;
  }
}
div.itemAuthorLatest ul {
  margin: 0;
  padding: 0;
}
div.itemAuthorLatest ul li {
  padding-top: 0;
  list-style: none;
  background: none;
  border-bottom: 0;
  padding-left: 35px;
  padding-bottom: 12.5px;
  background: url("../images/ico/checklist.png") no-repeat left 3px;
}
div.itemAuthorLatest ul li a {
  color: #555555;
}
div.itemAuthorLatest ul li a:hover,
div.itemAuthorLatest ul li a:active,
div.itemAuthorLatest ul li a:focus {
  color: #3498db;
  text-decoration: none;
}
div.itemRelated h3 {
  background: transparent;
  color: #333333;
  font-size: 15px;
  margin: 0 0 12.5px 0;
  padding: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  div.itemRelated h3 {
    margin-bottom: 25px;
  }
}
div.itemRelated ul {
  margin: 0;
  padding: 0;
}
div.itemRelated ul li {
  list-style: none;
  background: none;
  border-bottom: 0;
  padding-left: 35px;
  padding-bottom: 12.5px;
  background: url("../images/ico/checklist.png") no-repeat left 3px;
}
div.itemRelated ul li a {
  color: #555555;
}
div.itemRelated ul li a:hover,
div.itemRelated ul li a:active,
div.itemRelated ul li a:focus {
  color: #3498db;
  text-decoration: none;
}
div.itemRelated ul li.k2ScrollerElement {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  padding: 4px;
}
div.itemRelated ul li.clr {
  border: none;
  clear: both;
  display: block;
  float: none;
  height: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
div.itemVideoBlock {
  background: #010101 url("../images/system/videoplayer-bg.gif") repeat-x bottom;
  margin: 0 0 16px 0;
  padding: 16px;
}
div.itemVideoBlock div.itemVideoEmbedded {
  text-align: center;
}
div.itemVideoBlock span.itemVideo {
  display: block;
  overflow: hidden;
}
div.itemVideoBlock span.itemVideoCaption {
  color: #eee;
  display: block;
  float: left;
  font-size: 11px;
  font-weight: bold;
  width: 60%;
}
div.itemVideoBlock span.itemVideoCredits {
  color: #eee;
  display: block;
  float: right;
  font-size: 11px;
  font-style: italic;
  text-align: right;
  width: 35%;
}
div.itemImageGallery {
  margin: 0 0 16px 0;
  padding: 0;
}
div.itemNavigation {
  margin: 25px 0;
}
div.itemNavigation:before,
div.itemNavigation:after {
  content: " ";
  display: table;
}
div.itemNavigation:after {
  clear: both;
}
div.itemNavigation span.itemNavigationTitle {
  color: #999999;
}
div.itemNavigation a.itemPrevious {
  float: left;
}
div.itemNavigation a.itemNext {
  float: right;
}
div.itemComments {
  padding: 25px 0;
}
div.itemComments h3 {
  border-bottom: 1px solid #e7e7e7;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
div.itemComments ul {
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
}
div.itemComments ul li {
  border-bottom: 1px dotted #e7e7e7;
  margin: 0;
  padding: 10px 4px;
}
div.itemComments ul li img {
  float: left;
  margin: 4px 10px 4px 0;
}
div.itemComments ul li p {
  color: #999999;
}
div.itemComments ul li span.commentToolbar a {
  margin-right: 10px;
}
div.itemComments ul li span.commentToolbar a.modal {
  position: inherit;
  display: inherit;
}
div.itemComments ul li span.commentLink {
  float: right;
  margin-left: 8px;
}
div.itemComments ul li span.commentLink a {
  background: #999999;
  border: 0;
  border-radius: 3px;
  padding: 5px;
  color: white;
  font-size: 13px;
}
div.itemComments ul li span.commentLink a:hover,
div.itemComments ul li span.commentLink a:focus,
div.itemComments ul li span.commentLink a:active {
  background-color: #3498db;
  text-decoration: none;
}
div.itemComments ul li span.commentDate {
  border-right: 1px solid #e7e7e7;
  font-size: 13px;
  margin: 0 8px 0 0;
  padding: 0 4px 0 0;
}
div.itemComments ul li span.commentAuthorName {
  font-size: 13px;
}
div.itemComments ul li span.commentAuthorName a {
  color: #333333;
  font-size: 15px;
  font-weight: normal;
  font-family: sans-serif;
}
div.itemComments ul li span.commentAuthorName a:hover,
div.itemComments ul li span.commentAuthorName a:active,
div.itemComments ul li span.commentAuthorName a:focus {
  color: #3498db;
}
div.itemCommentsForm form label.formName {
  margin-top: 12.5px;
}
div.itemCommentsForm form label.formEmail {
  margin-top: 12.5px;
}
div.itemCommentsForm form label.formUrl {
  margin-top: 12.5px;
}
div.itemCommentsForm form label.formRecaptcha {
  display: block;
  margin: 12px 0 0 2px;
}
div.itemCommentsForm form textarea.inputbox {
  display: block;
  height: 160px;
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) {
  div.itemCommentsForm form textarea.inputbox {
    width: 350px;
  }
}
div.itemCommentsForm form input.inputbox {
  display: block;
  margin: 0;
  width: 100%;
}
@media (min-width: 768px) {
  div.itemCommentsForm form input.inputbox {
    width: 350px;
  }
}
div.itemCommentsForm form input#submitCommentButton {
  margin-top: 25px;
}
div.itemCommentsForm form span#formLog {
  color: #CF1919;
  font-weight: bold;
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
}
div.itemCommentsForm form .formLogLoading {
  background: url("../images/system/loading.gif") no-repeat left center;
}
.k2ReportCommentFormContainer {
  margin: 0 auto;
  padding: 8px;
  width: 480px;
}
.k2ReportCommentFormContainer h2 {
  color: #3498db;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 25px;
}
.k2ReportCommentFormContainer form label {
  color: #333333;
  font-weight: 100;
  font-size: 15px;
}
.k2ReportCommentFormContainer form blockquote span.theComment {
  font-size: 17px;
  font-style: italic;
}
.k2ReportCommentFormContainer form input[type="text"],
.k2ReportCommentFormContainer form textarea {
  border: 1px solid #e7e7e7;
  display: block;
  font-size: 13px;
  margin: 0 0 8px 0;
  padding: 5px;
  width: 474px;
}
.k2ReportCommentFormContainer form input[type="text"]:hover,
.k2ReportCommentFormContainer form textarea:hover,
.k2ReportCommentFormContainer form input[type="text"]:active,
.k2ReportCommentFormContainer form textarea:active,
.k2ReportCommentFormContainer form input[type="text"]:focus,
.k2ReportCommentFormContainer form textarea:focus {
  border-color: #3498db;
}
.k2ReportCommentFormContainer form button {
  background-color: #3498db;
  border-color: #3498db;
  border: 1px solid;
  border-radius: 20px;
  color: #ffffff;
  padding: 7px 25px;
  font-weight: 700;
}
.k2ReportCommentFormContainer form button:hover,
.k2ReportCommentFormContainer form button:active,
.k2ReportCommentFormContainer form button:focus {
  background: #217dbb;
}
div.itemBackToTop {
  text-align: right;
  padding-top: 25px;
}
div.itemBackToTop a {
  text-decoration: underline;
}
div.itemBackToTop a:hover {
  text-decoration: underline;
}
div.itemListCategory {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  margin: 0 0 50px;
  padding: 25px;
}
span.catItemAddLink {
  border-bottom: 1px dotted #e7e7e7;
  display: block;
  margin: 0 0 4px 0;
  padding: 8px 0;
  text-align: right;
}
span.catItemAddLink a {
  background: #eee;
  border: 1px solid #e7e7e7;
  padding: 4px 16px;
  text-decoration: none;
}
span.catItemAddLink a:hover {
  background: #ffffcc;
}
div.itemListCategory img {
  display: block;
  float: left;
  margin: 0 25px 12.5px 0;
}
@media (max-width: 768px) {
  div.itemListCategory img {
    width: 100% !important;
  }
}
div.itemListCategory h2 {
  margin-bottom: 12.5px;
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
}
div.itemListSubCategories {
  margin-left: -20px;
  margin-right: -20px;
}
div.itemListSubCategories > h3 {
  color: #333333;
  font-size: 15px;
  margin: 0 0 25px 0;
  padding: 0 20px;
  text-transform: uppercase;
}
div.subCategoryContainer {
  float: left;
}
@media (max-width: 767px) {
  div.subCategoryContainer {
    width: 100% !important;
  }
}
div.subCategory {
  margin: 0 20px 0;
  padding-bottom: 40px;
}
div.subCategory:hover .subCategoryImage:before {
  right: 50%;
  top: 0;
}
div.subCategory:hover .subCategoryImage:after {
  left: 50%;
  top: 0;
}
div.subCategory:hover .subCategoryImage .btn {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
div.subCategory .subCategoryImage {
  display: block;
  text-align: left;
  position: relative;
  overflow: hidden;
  margin: 0 0 25px;
}
div.subCategory .subCategoryImage:before {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  right: -50%;
  top: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}
div.subCategory .subCategoryImage:after {
  content: "";
  height: 100%;
  width: 50%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: -50%;
  -webkit-transition: 500ms;
  transition: 500ms;
}
div.subCategory .subCategoryImage .btn {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #ffffff;
  border: 2px solid #e7e7e7;
  padding: 6.25px 25px;
  z-index: 100;
  margin-left: -69.5px;
  margin-top: -21px;
  -webkit-transform: translateY(161px);
  -moz-transform: translateY(161px);
  -ms-transform: translateY(161px);
  transform: translateY(161px);
  -webkit-transition: 500ms;
  transition: 500ms;
}
div.subCategory .subCategoryImage .btn:hover {
  background: #f7f7f7;
  color: #555555;
  text-decoration: none;
}
div.subCategory .subCategoryImage img,
div.subCategory .subCategoryImage:hover img {
  max-width: 100%;
}
div.subCategory > h2 {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 12.5px;
  margin-top: 0;
}
div.subCategory > h2 a {
  color: #333333;
}
div.subCategory > h2 a:hover,
div.subCategory > h2 a:focus,
div.subCategory > h2 a:active {
  text-decoration: none;
  color: #3498db;
}
div#itemListLinks {
  background: #f7fafe;
  border: 1px solid #e7e7e7;
  margin: 8px 0;
  padding: 8px;
}
div.itemContainer {
  float: left;
  width: 100%;
}
div.itemColumns .itemContainer {
  padding-right: 20px;
}
div.itemColumns .itemContainerLast {
  padding-left: 20px;
  padding-right: 0;
}
.hr {
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 50px;
  margin-top: 50px;
  display: inline-block;
  width: 100%;
}
div.catItemContent {
  position: relative;
}
@media (min-width: 480px) {
  div.catItemContent {
    padding-left: 90px;
  }
}
div.groupLinks {
  margin: 0;
  padding: 0;
}
span.catItemEditLink {
  display: block;
  float: right;
  margin: 0;
  padding: 4px 0;
  text-align: right;
  width: 120px;
}
span.catItemEditLink a {
  background: #eee;
  border: 1px solid #e7e7e7;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 2px 12px;
  text-decoration: none;
}
span.catItemEditLink a:hover {
  background: #ffffcc;
}
span.catItemDateCreated {
  background: #3498db;
  color: #ffffff;
  display: block;
  position: absolute;
  padding: 5px;
  line-height: 25px;
  left: 0;
  top: 0;
  text-align: center;
  width: 60px;
}
span.catItemDateCreated .month-year {
  font-size: 12px;
}
span.catItemDateCreated .date {
  font-size: 24px;
  display: block;
}
div.catItemHeader h3.catItemTitle {
  margin: 0 0 12.5px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5;
  margin-left: 80px;
}
@media (min-width: 480px) {
  div.catItemHeader h3.catItemTitle {
    font-size: 26px;
    margin-left: 0px;
  }
}
div.catItemHeader h3.catItemTitle a {
  color: #333333;
}
div.catItemHeader h3.catItemTitle a:hover,
div.catItemHeader h3.catItemTitle a:focus,
div.catItemHeader h3.catItemTitle a:active {
  color: #3498db;
  text-decoration: none;
}
div.catItemHeader h3.catItemTitle span sup {
  color: #CF1919;
  font-size: 12px;
  text-decoration: none;
}
div.catItemHeader span.catItemAuthor {
  display: block;
  margin: 0;
  padding: 0;
}
div.catItemRatingBlock {
  padding: 8px 0;
}
div.catItemRatingBlock span {
  color: #999999;
  display: block;
  float: left;
  font-style: normal;
  margin: 0;
  padding: 0 4px 0 0;
}
div.catItemBody {
  margin: 0;
  padding: 0;
}
div.catItemImageBlock {
  margin: 0 0 25px 0;
}
span.catItemImage {
  display: block;
  margin: 0;
  text-align: center;
}
span.catItemImage img {
  max-width: 100%;
}
div.catItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 0;
}
div.catItemExtraFields,
div.genericItemExtraFields {
  border-top: 1px dotted #e7e7e7;
  margin: 16px 0 0 0;
  padding: 8px 0 0 0;
}
div.catItemExtraFields h4,
div.genericItemExtraFields h4 {
  line-height: normal !important;
  margin: 0;
  padding: 0 0 8px 0;
}
div.catItemExtraFields ul,
div.genericItemExtraFields ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.catItemExtraFields ul li,
div.genericItemExtraFields ul li {
  display: block;
}
div.catItemExtraFields ul li span.catItemExtraFieldsLabel,
div.genericItemExtraFields ul li span.genericItemExtraFieldsLabel {
  display: block;
  float: left;
  font-weight: bold;
  margin: 0 4px 0 0;
  width: 30%;
}
div.catItemLinks {
  margin: 0 0 16px 0;
  padding: 0;
}
div.catItemHitsBlock {
  border-bottom: 1px dotted #e7e7e7;
  padding: 4px;
}
div.catItemCategory {
  border-bottom: 1px dotted #e7e7e7;
  padding: 4px 0;
}
div.catItemCategory span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.catItemTagsBlock span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.catItemTagsBlock ul.catItemTags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.catItemTagsBlock ul.catItemTags li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 4px 0 0;
  text-align: center;
}
div.catItemAttachmentsBlock {
  border-bottom: 1px dotted #e7e7e7;
  padding: 4px;
}
div.catItemAttachmentsBlock span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.catItemAttachmentsBlock ul.catItemAttachments {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.catItemAttachmentsBlock ul.catItemAttachments li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 4px;
  text-align: center;
}
div.catItemAttachmentsBlock ul.catItemAttachments li span {
  color: #999999;
  font-size: 10px;
  font-weight: normal;
}
div.catItemVideoBlock {
  background: #010101 url("../images/system/videoplayer-bg.gif") repeat-x bottom;
  margin: 0 0 16px 0;
  padding: 16px;
}
div.catItemVideoBlock div.catItemVideoEmbedded {
  text-align: center;
}
div.catItemVideoBlock span.catItemVideo {
  display: block;
}
div.catItemImageGallery {
  margin: 0 0 16px 0;
  padding: 0;
}
div.catItemCommentsLink {
  border-right: 1px solid #e7e7e7;
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}
div.catItemReadMore {
  display: inline;
}
span.catItemDateModified {
  border-top: 1px solid #e7e7e7;
  color: #999999;
  display: block;
  margin: 4px 0;
  padding: 4px;
  text-align: right;
}
div.userBlock {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  clear: both;
  margin: 0 0 50px 0;
  padding: 25px;
}
span.userItemAddLink {
  border-bottom: 1px dotted #e7e7e7;
  display: block;
  margin: 0 0 4px 0;
  padding: 8px 0;
  text-align: right;
}
span.userItemAddLink a {
  background: #eee;
  border: 1px solid #e7e7e7;
  padding: 4px 16px;
  text-decoration: none;
}
span.userItemAddLink a:hover {
  background: #ffffcc;
}
div.userBlock img {
  display: block;
  float: left;
  margin-right: 25px;
}
div.userBlock h2 {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 12.5px;
}
div.userBlock h2 a {
  color: #333333;
}
div.userBlock div.userDescription {
  padding: 0;
}
div.userBlock div.userAdditionalInfo {
  margin: 8px 0 0 0;
  padding: 4px 0;
}
span.userURL {
  color: #555555;
  display: block;
  font-weight: bold;
}
span.userEmail {
  color: #555555;
  display: block;
  font-weight: bold;
}
div.userItemView {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e7e7e7;
}
div.userItemContent {
  position: relative;
  padding-left: 90px;
}
div.userItemViewUnpublished {
  background: #fffff2;
  border: 4px dashed #e7e7e7;
  margin: 8px 0;
  opacity: 0.9;
  padding: 8px;
}
span.userItemEditLink {
  display: block;
  float: right;
  margin: 0;
  padding: 4px 0;
  text-align: right;
  width: 120px;
}
span.userItemEditLink a {
  background: #eee;
  border: 1px solid #e7e7e7;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 2px 12px;
  text-decoration: none;
}
span.userItemEditLink a:hover {
  background: #ffffcc;
}
span.userItemDateCreated {
  background: #3498db;
  color: #ffffff;
  display: block;
  position: absolute;
  padding: 5px;
  line-height: 25px;
  left: 0;
  top: 0;
  text-align: center;
  width: 60px;
}
span.userItemDateCreated .month-year {
  font-size: 12px;
}
span.userItemDateCreated .date {
  font-size: 24px;
  display: block;
}
div.userItemHeader h3.userItemTitle {
  margin: 0 0 12.5px;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 100;
}
div.userItemHeader h3.userItemTitle a {
  color: #333333;
}
div.userItemHeader h3.userItemTitle a:hover,
div.userItemHeader h3.userItemTitle a:focus,
div.userItemHeader h3.userItemTitle a:active {
  color: #3498db;
  text-decoration: none;
}
div.userItemHeader h3.userItemTitle span sup {
  color: #CF1919;
  font-size: 12px;
  text-decoration: none;
}
div.userItemBody {
  margin: 0;
  padding: 0;
}
div.userItemImageBlock {
  margin: 0 0 25px 0;
}
span.userItemImage {
  display: block;
  margin: 0;
  text-align: center;
}
span.userItemImage img {
  max-width: 100%;
}
div.userItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 0;
}
div.userItemLinks {
  margin: 0 0 16px 0;
  padding: 0;
}
div.userItemCategory {
  border-bottom: 1px dotted #e7e7e7;
  padding: 4px;
}
div.userItemCategory span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.userItemTagsBlock span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.userItemTagsBlock ul.userItemTags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.userItemTagsBlock ul.userItemTags li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 4px 0 0;
  text-align: center;
}
div.userItemCommentsLink {
  border-right: 1px solid #e7e7e7;
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}
div.userItemReadMore {
  display: inline;
}
div.tagItemView {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e7e7e7;
}
div.tagItemContent {
  position: relative;
  padding-left: 90px;
}
span.tagItemDateCreated {
  background: #3498db;
  color: #ffffff;
  display: block;
  position: absolute;
  padding: 5px;
  line-height: 25px;
  left: 0;
  top: 0;
  text-align: center;
  width: 60px;
}
span.tagItemDateCreated .month-year {
  font-size: 12px;
}
span.tagItemDateCreated .date {
  font-size: 24px;
  display: block;
}
div.tagItemHeader h2.tagItemTitle {
  margin: 0 0 12.5px;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 100;
}
div.tagItemHeader h2.tagItemTitle a {
  color: #333333;
}
div.tagItemHeader h2.tagItemTitle a:hover,
div.tagItemHeader h2.tagItemTitle a:focus,
div.tagItemHeader h2.tagItemTitle a:active {
  color: #3498db;
  text-decoration: none;
}
div.tagItemBody {
  margin: 0;
  padding: 0;
}
div.tagItemImageBlock {
  margin: 0 0 25px 0;
}
span.tagItemImage {
  display: block;
  margin: 0;
  text-align: center;
}
span.tagItemImage img {
  max-width: 100%;
}
div.tagItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 0;
}
div.tagItemCategory {
  border-right: 1px solid #e7e7e7;
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}
div.tagItemCategory span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.tagItemReadMore {
  display: inline;
}
div.genericItemView {
  border-bottom: 1px solid #e7e7e7;
  margin: 0 0 50px 0;
  padding: 0 0 50px;
}
div.genericItemContent {
  padding-left: 90px;
  position: relative;
}
span.genericItemDateCreated {
  background: #3498db;
  color: #ffffff;
  display: block;
  position: absolute;
  padding: 5px;
  line-height: 25px;
  left: 0;
  top: 0;
  text-align: center;
  width: 60px;
}
span.genericItemDateCreated .month-year {
  font-size: 12px;
}
span.genericItemDateCreated .date {
  font-size: 24px;
  display: block;
}
div.genericItemHeader h2.genericItemTitle {
  margin: 0 0 12.5px;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 100;
}
div.genericItemHeader h2.genericItemTitle a {
  color: #333333;
}
div.genericItemHeader h2.genericItemTitle a:hover,
div.genericItemHeader h2.genericItemTitle a:focus,
div.genericItemHeader h2.genericItemTitle a:active {
  color: #3498db;
  text-decoration: none;
}
div.genericItemBody {
  margin: 0;
  padding: 0;
}
div.genericItemImageBlock {
  margin: 0 0 25px;
  padding: 0;
}
span.genericItemImage {
  display: block;
}
span.genericItemImage img {
  max-width: 100%;
}
div.genericItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 4px 0 12px 0;
}
div.genericItemCategory {
  border-right: 1px solid #e7e7e7;
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}
div.genericItemCategory span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.genericItemReadMore {
  display: inline;
}
div#genericItemListNothingFound {
  padding: 40px;
  text-align: center;
}
div#genericItemListNothingFound p {
  color: #999999;
  font-size: 20px;
}
#k2GoogleSearchContainer .gsc-control {
  width: auto !important;
}
#k2GoogleSearchContainer .gsc-control .gsc-above-wrapper-area,
#k2GoogleSearchContainer .gsc-control .gsc-resultsHeader,
#k2GoogleSearchContainer .gsc-control .gsc-url-bottom {
  display: none !important;
}
div.latestItemsContainer {
  float: left;
}
div.latestItemsCategory {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  margin: 0 0 50px;
  padding: 25px;
}
div.latestItemsCategoryImage {
  text-align: center;
  float: left;
}
div.latestItemsCategoryImage img {
  margin-right: 25px;
}
div.latestItemsCategory h2 {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 12.5px;
}
div.latestItemsCategory h2 a {
  color: #333333;
}
div.latestItemsUser {
  background: #f7f7f7;
  border: 1px solid #e7e7e7;
  clear: both;
  margin: 0 0 50px;
  padding: 25px;
}
div.latestItemsUser img {
  display: block;
  float: left;
  margin-right: 25px;
}
div.latestItemsUser h2 {
  margin-top: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 12.5px;
}
div.latestItemsUser h2 a {
  color: #333333;
}
div.latestItemsUser p.latestItemsUserDescription {
  padding: 0;
}
div.latestItemsUser p.latestItemsUserAdditionalInfo {
  margin: 12.5px 0 0 0;
  padding: 6.25px 0;
}
span.latestItemsUserURL {
  color: #555555;
  display: block;
}
span.latestItemsUserEmail {
  color: #555555;
  display: block;
}
div.latestItemList {
  padding: 0;
}
div.latestItemView {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e7e7e7;
}
div.latestItemContent {
  position: relative;
  padding-left: 90px;
}
div.latestItemHeader h2.latestItemTitle {
  margin: 0 0 12.5px;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 100;
}
div.latestItemHeader h2.latestItemTitle a {
  color: #333333;
}
div.latestItemHeader h2.latestItemTitle a:hover,
div.latestItemHeader h2.latestItemTitle a:focus,
div.latestItemHeader h2.latestItemTitle a:active {
  color: #3498db;
  text-decoration: none;
}
span.latestItemDateCreated {
  background: #3498db;
  color: #ffffff;
  display: block;
  position: absolute;
  padding: 5px;
  line-height: 25px;
  left: 0;
  top: 0;
  text-align: center;
  width: 60px;
}
span.latestItemDateCreated .month-year {
  font-size: 12px;
}
span.latestItemDateCreated .date {
  font-size: 24px;
  display: block;
}
div.latestItemBody {
  margin: 0;
  padding: 0;
}
div.latestItemImageBlock {
  margin: 0 0 25px 0;
}
span.latestItemImage {
  display: block;
  margin: 0;
  text-align: center;
}
span.latestItemImage img {
  max-width: 100%;
}
div.latestItemIntroText {
  font-size: inherit;
  font-weight: normal;
  line-height: inherit;
  padding: 0;
}
div.latestItemLinks {
  margin: 0 0 16px 0;
  padding: 0;
}
div.latestItemCategory {
  border-bottom: 1px dotted #e7e7e7;
  padding: 4px;
}
div.latestItemCategory span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.latestItemTagsBlock span {
  color: #555555;
  font-weight: bold;
  padding: 0 4px 0 0;
}
div.latestItemTagsBlock ul.latestItemTags {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.latestItemTagsBlock ul.latestItemTags li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 4px 0 0;
  text-align: center;
}
div.latestItemVideoBlock {
  background: #010101 url("../images/system/videoplayer-bg.gif") repeat-x bottom;
  margin: 0 0 16px 0;
  padding: 16px;
}
div.latestItemVideoBlock span.latestItemVideo {
  display: block;
}
div.latestItemCommentsLink {
  border-right: 1px solid #e7e7e7;
  display: inline;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
}
div.latestItemReadMore {
  display: inline;
}
h2.latestItemTitleList {
  border-bottom: 1px dotted #e7e7e7;
  font-family: sans-serif;
  font-size: 14px;
  line-height: normal;
  margin: 8px 0 2px 0;
  padding: 2px 0;
}
.k2-form {
  border: 1px solid #e7e7e7;
  background: transparent;
  padding: 25px;
  margin: auto;
  width: 55%;
}
@media (min-width: 768px) and (max-width: 980px) {
  .k2-form {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .k2-form {
    width: auto;
  }
}
.k2-form h1 {
  border-bottom: 1px solid #e7e7e7;
  color: #333333;
  font-size: 26px;
  margin-top: 0;
  margin-bottom: 25px;
  padding-bottom: 12.5px;
  text-transform: uppercase;
  line-height: 1;
}
.k2-form .control-input input,
.k2-form .control-input textarea,
.k2-form .control-input select {
  background: #f9f9f9;
  box-shadow: none;
  border-color: #e7e7e7;
  width: 100%;
}
.k2-form .control-input input:focus,
.k2-form .control-input textarea:focus,
.k2-form .control-input select:focus {
  border-color: #3498db;
}
.k2-form .control-input input.invalid,
.k2-form .control-input textarea.invalid,
.k2-form .control-input select.invalid {
  border-color: #f95e5a;
}
.k2-form .control-label label {
  font-weight: 300;
}
.k2-form .control-detail {
  color: #3498db;
  font-weight: 400;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 8.33333333px;
}
.k2-form .control-up {
  margin-top: 10px;
}
.k2-form .control-select label {
  font-weight: 300;
}
.k2-form .row {
  margin: 0 -12.5px;
}
.k2-form .form-group,
.k2-form .col-sm-12 {
  padding-left: 12.5px;
  padding-right: 12.5px;
}
.k2-form .k2AccountPageUpdate {
  text-align: right;
}
.k2-form .k2AccountPageUpdate button {
  background: #3498db;
  border-radius: 20px;
  border: 0;
  color: #ffffff;
  padding: 8.33333333px 25px;
}
.k2-form .k2AccountPageUpdate button:hover {
  background: #217dbb;
}
.k2-form .k2AccountPageNotice {
  color: #3498db;
  font-style: italic;
}
.k2AccountPage table tr td label {
  white-space: nowrap;
}
img.k2AccountPageImage {
  border: 4px solid #e7e7e7;
  display: block;
  margin: 10px 0;
  padding: 0;
}
input#del_image {
  width: auto;
  display: inline-block;
}
input#del_image + label {
  display: inline;
  font-weight: 300;
}
.k2AccountPage th.k2ProfileHeading {
  background: #f6f6f6;
  font-size: 18px;
  padding: 8px;
  text-align: left;
}
.k2AccountPage td#userAdminParams {
  margin: 0;
  padding: 0;
}
.k2AccountPage table.admintable td.key,
.k2AccountPage table.admintable td.paramlist_key {
  background: #f6f6f6;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  color: #666;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  width: 140px;
}
div.k2LatestCommentsBlock ul li .k2Avatar,
div.k2TopCommentersBlock ul li .k2Avatar {
  float: left;
  margin-right: 12.5px;
}
div.k2LatestCommentsBlock ul li a,
div.k2TopCommentersBlock ul li a {
  color: #333333;
  font-size: 15px;
  font-weight: normal;
  font-family: sans-serif;
}
div.k2LatestCommentsBlock ul li a:hover,
div.k2TopCommentersBlock ul li a:hover,
div.k2LatestCommentsBlock ul li a:active,
div.k2TopCommentersBlock ul li a:active,
div.k2LatestCommentsBlock ul li a:focus,
div.k2TopCommentersBlock ul li a:focus {
  color: #3498db;
  text-decoration: none;
}
div.k2LatestCommentsBlock ul li a span .lcUsername,
div.k2TopCommentersBlock ul li a span .lcUsername {
  display: block;
  font-size: 14px;
}
div.k2LatestCommentsBlock ul li a span.lcComment,
div.k2TopCommentersBlock ul li a span.lcComment {
  display: block;
  font-weight: 100;
  font-family: sans-serif;
  font-size: 13px;
}
div.k2LatestCommentsBlock ul li a span.lcComment:hover,
div.k2TopCommentersBlock ul li a span.lcComment:hover,
div.k2LatestCommentsBlock ul li a span.lcComment:focus,
div.k2TopCommentersBlock ul li a span.lcComment:focus,
div.k2LatestCommentsBlock ul li a span.lcComment:active,
div.k2TopCommentersBlock ul li a span.lcComment:active {
  text-decoration: underline;
}
div.k2LatestCommentsBlock ul li .lcComment,
div.k2TopCommentersBlock ul li .lcComment {
  color: #999999;
}
div.k2LatestCommentsBlock ul li span.lcUsername,
div.k2TopCommentersBlock ul li span.lcUsername {
  display: block;
  font-size: 13px;
}
div.k2LatestCommentsBlock ul li span.lcUsername strong,
div.k2TopCommentersBlock ul li span.lcUsername strong {
  color: #3498db;
}
div.k2LatestCommentsBlock ul li span.lcItemTitle,
div.k2TopCommentersBlock ul li span.lcItemTitle {
  margin: 6px 0;
  display: block;
}
div.k2LatestCommentsBlock ul li span.lcItemCategory,
div.k2TopCommentersBlock ul li span.lcItemCategory {
  color: #999999;
}
div.k2LatestCommentsBlock ul li span.lcItemCategory a,
div.k2TopCommentersBlock ul li span.lcItemCategory a {
  color: #999999;
  font-weight: 100;
}
div.k2LatestCommentsBlock ul li span.lcItemCategory a:hover,
div.k2TopCommentersBlock ul li span.lcItemCategory a:hover,
div.k2LatestCommentsBlock ul li span.lcItemCategory a:active,
div.k2TopCommentersBlock ul li span.lcItemCategory a:active,
div.k2LatestCommentsBlock ul li span.lcItemCategory a:focus,
div.k2TopCommentersBlock ul li span.lcItemCategory a:focus {
  text-decoration: underline;
}
div.k2ItemsBlock .moduleItemAuthor {
  display: block;
  font-size: 13px;
}
div.k2ItemsBlock .moduleItemIntrotext {
  margin: 0 0 12.5px;
  font-size: 14px;
  line-height: 1.66666667;
  color: #999999;
  display: inline-block;
}
div.k2ItemsBlock .moduleItemTitle {
  font-size: 15px;
  font-weight: normal;
  font-family: sans-serif;
  margin-bottom: 12.5px;
}
div.k2ItemsBlock .moduleItemImage {
  margin-bottom: 12.5px;
  display: block;
}
div.k2ItemsBlock .moduleItemImage img {
  max-width: 100%;
}
div.k2ItemsBlock a.moduleItemCategory,
div.k2ItemsBlock a.moduleItemComments,
div.k2ItemsBlock a.moduleItemHits {
  border-right: 1px solid #e7e7e7;
  margin: 0 8px 0 0;
  padding: 0 8px 0 0;
  font-size: 13px;
}
div.k2ItemsBlock a.moduleItemCategory:hover,
div.k2ItemsBlock a.moduleItemComments:hover,
div.k2ItemsBlock a.moduleItemHits:hover,
div.k2ItemsBlock a.moduleItemCategory:active,
div.k2ItemsBlock a.moduleItemComments:active,
div.k2ItemsBlock a.moduleItemHits:active,
div.k2ItemsBlock a.moduleItemCategory:focus,
div.k2ItemsBlock a.moduleItemComments:focus,
div.k2ItemsBlock a.moduleItemHits:focus {
  text-decoration: underline;
  color: #333333;
}
div.k2ItemsBlock span.moduleItemHits {
  font-size: 13px;
  float: right;
}
div.k2ItemsBlock .k2Avatar img {
  margin: 0 12.5px 7px 0;
}
div.k2LoginBlock .k2-group,
div.k2UserBlock .k2-group {
  border-collapse: separate;
  display: table;
  position: relative;
  margin-bottom: 25px;
}
div.k2LoginBlock .k2-group .input-group-addon,
div.k2UserBlock .k2-group .input-group-addon {
  border-radius: 0;
  border-color: #e7e7e7;
  background-color: #fafafa;
  padding: 6px 15px;
}
div.k2LoginBlock .k2-group .fa,
div.k2UserBlock .k2-group .fa {
  color: #878787;
}
div.k2LoginBlock .k2-group input[type="text"],
div.k2UserBlock .k2-group input[type="text"],
div.k2LoginBlock .k2-group input[type="password"],
div.k2UserBlock .k2-group input[type="password"] {
  border-radius: 0;
  box-shadow: none;
  height: 45px;
  width: 100%;
}
div.k2LoginBlock ul.k2UserBlockActions li,
div.k2UserBlock ul.k2UserBlockActions li {
  padding: 0;
}
div.k2LoginBlock ul.k2UserBlockActions li + li,
div.k2UserBlock ul.k2UserBlockActions li + li {
  padding-top: 0;
}
div.k2LoginBlock ul.k2UserBlockActions a.modal,
div.k2UserBlock ul.k2UserBlockActions a.modal {
  border: 0;
  display: inline-block;
  top: auto;
  left: 0px;
  margin: 0;
  position: static;
  width: auto;
  border-radius: 0px;
  overflow: visible;
  line-height: 1.66666667;
  -webkit-box-shadow: none;
  box-shadow: none;
}
div.k2LoginBlock ul.k2UserBlockRenderedMenu,
div.k2UserBlock ul.k2UserBlockRenderedMenu {
  margin: 0;
}
div.k2LoginBlock #form-login-remember input,
div.k2UserBlock #form-login-remember input {
  height: 13px;
  width: 13px;
  display: inline;
  margin-right: 3px;
  margin-top: 0;
}
div.k2LoginBlock #form-login-remember label,
div.k2UserBlock #form-login-remember label {
  color: #535353;
  display: inline;
  margin-top: 0px;
  font-weight: normal;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
div.k2LoginBlock .btn-primary,
div.k2UserBlock .btn-primary {
  width: 50%;
}
div.k2LoginBlock ul,
div.k2UserBlock ul {
  margin-top: 20px;
}
div.k2LoginBlock ul li,
div.k2UserBlock ul li {
  color: #3498db;
  padding: 0;
  line-height: 10px;
}
div.k2LoginBlock ul li a,
div.k2UserBlock ul li a {
  color: #3498db;
}
div.k2LoginBlock ul li:hover,
div.k2UserBlock ul li:hover,
div.k2LoginBlock ul li:active,
div.k2UserBlock ul li:active,
div.k2LoginBlock ul li:focus,
div.k2UserBlock ul li:focus {
  text-decoration: underline;
}
div.k2LoginBlock .k2UserBlockDetails .ubAvatar,
div.k2UserBlock .k2UserBlockDetails .ubAvatar {
  float: left;
  margin: 0 12.5px 12.5px 0;
}
div.k2LoginBlock ul.k2UserBlockActions li,
div.k2UserBlock ul.k2UserBlockActions li {
  display: inline;
  margin-right: 10px;
}
div.k2LoginBlock ul.k2UserBlockActions li a,
div.k2UserBlock ul.k2UserBlockActions li a {
  color: #333333;
  font-size: 14px;
}
div.k2ArchivesBlock ul li {
  padding-bottom: 0;
}
div.k2ArchivesBlock ul li + li {
  padding-bottom: 0;
  padding-top: 12.5px;
}
div.k2ArchivesBlock ul li a {
  color: #727272;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
div.k2ArchivesBlock ul li a i {
  margin-right: 5px;
}
div.k2AuthorsListBlock ul li a.abAuthorLatestItem {
  clear: both;
  display: block;
}
div.k2BreadcrumbsBlock span.bcTitle {
  color: #999;
  padding: 0 4px 0 0;
}
div.k2BreadcrumbsBlock span.bcSeparator {
  font-size: 14px;
  padding: 0 4px;
}
div.k2CalendarBlock {
  height: 190px;
  margin-bottom: 8px;
}
div.k2CalendarLoader {
  background: #ffffff url("../images/system/k2CalendarLoader.gif") no-repeat 50% 50%;
}
table.calendar {
  background: #ffffff;
  border-collapse: collapse;
  margin: 0 auto;
}
table.calendar tr td {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}
table.calendar tr td.calendarNavMonthPrev {
  background: #f3f3f3;
  text-align: left;
}
table.calendar tr td.calendarNavMonthPrev a {
  font-size: 18px;
  text-decoration: none;
}
table.calendar tr td.calendarNavMonthPrev a:hover {
  font-size: 18px;
  text-decoration: none;
}
table.calendar tr td.calendarCurrentMonth {
  background: #f3f3f3;
}
table.calendar tr td.calendarNavMonthNext {
  background: #f3f3f3;
  text-align: right;
}
table.calendar tr td.calendarNavMonthNext a {
  font-size: 20px;
  text-decoration: none;
}
table.calendar tr td.calendarNavMonthNext a:hover {
  font-size: 18px;
  text-decoration: none;
}
table.calendar tr td.calendarDayName {
  background: #e9e9e9;
  font-size: 11px;
  width: 14.2%;
}
table.calendar tr td.calendarDateEmpty {
  background: #fbfbfb;
}
table.calendar tr td.calendarDateLinked {
  padding: 0;
}
table.calendar tr td.calendarDateLinked a {
  background: #eee;
  display: block;
  padding: 2px;
  text-decoration: none;
}
table.calendar tr td.calendarDateLinked a:hover {
  background: #135cae;
  color: #ffffff;
  display: block;
  padding: 2px;
  text-decoration: none;
}
table.calendar tr td.calendarToday {
  background: #135cae;
  color: #ffffff;
}
table.calendar tr td.calendarTodayLinked {
  background: #135cae;
  color: #ffffff;
  padding: 0;
}
table.calendar tr td.calendarTodayLinked a {
  color: #ffffff;
  display: block;
  padding: 2px;
  text-decoration: none;
}
table.calendar tr td.calendarTodayLinked a:hover {
  background: #BFD9FF;
  display: block;
  padding: 2px;
  text-decoration: none;
}
div.k2CategorySelectBlock form select {
  width: auto;
}
div.k2CategoriesListBlock ul li a span.catTitle {
  padding-right: 4px;
}
div.k2CategoriesListBlock ul li.activeCategory a {
  font-weight: bold;
}
div.k2SearchBlock {
  position: relative;
}
div.k2SearchBlock form input.k2SearchLoading {
  background: url("../images/system/searchLoader.gif") no-repeat 100% 50%;
}
div.k2SearchBlock div.k2LiveSearchResults {
  background: #ffffff;
  border: 1px solid #e7e7e7;
  display: none;
  margin-top: -1px;
  position: absolute;
  z-index: 99;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li {
  border: none;
  margin: 0;
  padding: 0;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li a {
  border-top: 1px dotted #e7e7e7;
  display: block;
  padding: 1px 2px;
}
div.k2SearchBlock div.k2LiveSearchResults ul.liveSearchResults li a:hover {
  background: #fffff0;
}
div.k2TagCloudBlock {
  padding: 8px 0;
}
div.k2TagCloudBlock a {
  display: block;
  float: left;
  padding: 4px;
}
div.k2TagCloudBlock a:hover {
  background: #135cae;
  color: #ffffff;
  display: block;
  float: left;
  padding: 4px;
  text-decoration: none;
}
div.k2UsersBlock ul li .aubUsers {
  display: inline-block;
  width: 100%;
}
div.k2UsersBlock ul li .aubUsers .user-avatar {
  float: left;
  width: 26%;
  margin-right: 12.5px;
}
div.k2UsersBlock ul li .aubUsers .user-avatar > .ubUserName {
  width: 100%;
  text-align: left;
  font-size: 13px;
  font-weight: 700;
  float: left;
}
div.k2UsersBlock ul li .aubUsers .ubUserDescription {
  color: #999999;
  display: block;
  font-family: sans-serif;
  margin-top: -6.25px;
}
div.k2UsersBlock ul li h3 {
  color: #333333;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 12.5px 0;
}
div.k2UsersBlock ul li ul.ubUserItems li {
  border-bottom: 1px dotted #e7e7e7;
  padding: 5px 0;
}
div.k2UsersBlock ul li ul.ubUserItems li:last-child {
  border: 0;
}
div.k2UsersBlock ul li ul.ubUserItems li a {
  color: #727272;
  font-family: sans-serif;
  font-size: 14px;
  text-decoration: none;
  font-weight: 300;
}
div.k2UsersBlock ul li ul.ubUserItems li a:hover,
div.k2UsersBlock ul li ul.ubUserItems li a:active,
div.k2UsersBlock ul li ul.ubUserItems li a:focus {
  color: #3498db;
}
div#k2Frontend .icon-48-k2 {
  background: url("../images/K2_Logo.png") no-repeat 0 50%;
  display: block;
}
div#k2Frontend table.k2FrontendToolbar tr td.button {
  padding: 8.33333333px;
}
div#k2Frontend .k2AdminTableFiltersSearch button {
  border: 0;
  background: #3498db;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 12.5px;
  margin-right: 12.5px;
}
div#k2Frontend .k2AdminTableFiltersSearch button:hover {
  background: #217dbb;
}
div#k2Frontend .k2AdminTableFiltersSelects select {
  display: inline-block;
  height: auto;
  font-size: 13px;
  padding: 10.5px 6.25px;
}
