section#form{
	border: 1px solid #E2E2E2;
	border-radius: 5px;
	margin: 20px auto;
	max-width: 90%;
	padding: 55px;
	text-align: center;
}

td{
	color: #999;
	padding: 3px;
	border-bottom: 1px solid #eee;
	text-align: center;
}
.contact_form h2{
	background: none repeat scroll 0 0 #F3F3F3;
	border-radius: 5px;
	color: #5CD053;
	font-family: sans-serif;
	font-size: 20px;
	padding: 5px;
	text-shadow: 1px 1px 1px #CCCCCC;
}
/*---estilos para los ul y li del formulario ---*/

.contact_form ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.contact_form li{
	padding: 12px;
	border-bottom: 1px solid #eee;
	position: relative;
}
.contact_form label {
	color: #555555;
	display: inline-block;
	float: left;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-top: 3px;
	padding: 3px;
	width: 90px;
}
.contact_form button{
	margin-left: 90px;
}
.contact_form input[type="password"],input[type="email"],input[type="text"],input[type="number"]{
	height: 20px;
	width: 220px;
	padding: 5px;
	border: 1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius: 2px;
	color: #888;
	font-family: Arial,bold, sans-serif;
	font-size: 16px;
	padding-right: 30px;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
	-o-transition: padding .25s;
	transition: padding .25s;
}
.contact_form input:focus{
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 5px #aaa;
	padding-right: 80px;

}

#pagina1{
	cursor: pointer;
	background:-webkit-linear-gradient(#fff 0%,#DEDEDE 100%);
	background:-moz-linear-gradient(#fff 0%,#DEDEDE 100%);
	background:-ms-linear-gradient(#fff 0%,#DEDEDE 100%);
	background:-o-linear-gradient(#fff 0%,#DEDEDE 100%);
	color: #999;
	border:solid 1px #DEDEDE;
	border-radius: 5px;
	font-size: 13px;
	text-align: center;
	padding: 4px;
	width: 70px;
	text-decoration: none;
	transition:all 2s;
	-moz-transition:all 2s;
	-ms-transition:all 2s;
	-o-transition:all 2s;
	-webkit-transition:all 2s;
}
#paginas1:hover{
	color: #f60;
	transition:all 2s;
	-moz-transition:all 2s;
	-ms-transition:all 2s;
	-o-transition:all 2s;
	-webkit-transition:all 2s;
}
/* === Estilos del boton de Envio === */
input.submit,#paginas2{
	background: -moz-linear-gradient(#fc0 0%,#f60 100%);
	background: -ms-linear-gradient(#fc0 0%,#f60 100%);
	background: -o-linear-gradient(#fc0 0%,#f60 100%);
	background: -webkit-linear-gradient(#fc0 0%,#f60 100%);
	background: linear-gradient(#fc0 0%,#f60 100%);
	border: solid 1px #DEDEDE;
	border-radius: 5px;
	text-align: center;
	padding: 4px;
	color: #fff;
	width: 70px;
	text-decoration: none;
	transition:all 2s;
	-moz-transition:all 2s;
	-ms-transition:all 2s;
	-o-transition:all 2s;
	-webkit-transition:all 2s;

}
input.submit:hover {
	cursor: pointer;
	background: -webkit-linear-gradient(#fff 0%, #DEDEDE 100%);
	background: -moz-linear-gradient(#fff 0%, #DEDEDE 100%);
	background: -ms-linear-gradient(#fff 0%, #DEDEDE 100%);
	background: -o-linear-gradient(#fff 0%, #DEDEDE 100%);

	color: #999;
	transition:all 2s;
	-moz-transition:all 2s;
	-ms-transition:all 2s;
	-o-transition:all 2s;
	-webkit-transition:all 2s;
}
/* Media query */
@media(min-width: 1080px){
	section#form{
		height: 300px;
		max-width: 40%;
	}
	input.submit,#paginas1{
		font-size: 13px;
	}
	#paginador{
		padding: 10px 0px 10px;
		max-width: 90%;
	}

}
@media(max-width: 1024px){
	section#form{
		height: 300px;
		max-width: 50%;
	}
	#paginas1,#paginas2{
		font-size: 13px;
	}
	#paginador{
		padding: 10px 0px 10px;
	}
	
}
@media(max-width: 800px){
	
}
@media(max-width: 768px){
	#paginas1,#paginas2{
		font-size: 13px;
	}
	#paginador{
		padding: 10px 0px 10px;
	}
	
}
@media(max-width: 685px){
	section#form{
		height: 300px;
		max-width: 60%;
	}
	#paginas1,#paginas2{
		font-size: 13px;
	}
	#paginador{
		padding: 10px 0px 10px;
	}
	
}
@media(max-width: 600px){
	section#form{
		height: 300px;
		max-width: 60%;
	}
	
}
@media(max-width: 568px){
	section#form{
		height: 300px;
		max-width: 90%;
	}
	#paginas1,#paginas2{
		font-size: 12px;
	}
	#paginador{
		padding: 10px 0px 10px;
	}
	
}
@media(max-width: 480px){
	.contact_form input[type="password"],input[type="email"],input[type="text"],input[type="number"]{
		width: 200px;
	}
	#paginas1,#paginas2{
		font-size: 12px;
	}
	#paginador{
		padding: 10px 0px 10px;
	}
	
}
@media(max-width: 380px){
	
}
@media(max-width: 320px){
	section#form{

	}
	.contact_form input[type="password"],input[type="email"],input[type="text"],input[type="number"]{
		width: 90px;
	}
	td{
		font-size: 15px;
	}
	#paginas1,#paginas2{
		font-size: 10px;
	}
	#paginador{
		margin: 10px 0px 20px;
	}
	
}
@media(max-width: 240px){
	section#form{
		height: 370px;
		max-width: 88%;
	}
	.contact_form input[type="password"],input[type="email"],input[type="text"],input[type="number"]{
		width: 90px;
		height: 15px;
	}
	td{
		font-size: 13px;
	}
	#paginas1,#paginas2{
		font-size: 7px;
	}
	#paginador{
		padding: 10px 0px 10px;
	}
	
}


