body {
 padding-top:70px;
}
div#contenedor{

	width:100%;
	border:1px solid red;
	position: relative;
	height: 200px;	
}
div#slider{
	border-radius: 10px;
    border: 2px solid #8A0868;
    width: 95%;
    margin: 0 auto;
    min-height:550px;
    margin-top: 20px;
    margin-bottom: 50px;


}

.productsrow {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em;
}
  
.menu-category {
 display: inline-block;
 margin-bottom:  0.25rem;
 padding:  1rem;
 width:  100%; 
}

.product-image {
 width: 100%;
}

.product {
 padding-top:22px;  
}

.btn-product {
 background-color:#222;
 color:#eee;
 border-radius:0;
}

.yellow {
 color:yellow;
 text-shadow:#ccc 1px 1px 0;
}

/* end custom CSS */