
            <!-- header-container start -->


                <!-- header-top start -->
                <!-- classes:  -->
                <!-- "dark": dark version of header top e.g. class="header-top dark" -->
                <!-- "colored": colored version of header top e.g. class="header-top colored" -->
                <!-- ================ -->
                <div class="header-top  colored">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-2 col-sm-5">
                                <!-- header-top-first start -->
                                <!-- ================ -->
                                <div class="header-top-first clearfix">
                                    <ul class="social-links circle small clearfix hidden-xs">
                                        <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                        <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>

                                    </ul>
                                    <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                                        <div class="btn-group dropdown">
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                                            <ul class="dropdown-menu dropdown-animation">
                                                <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                                                <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                                                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                                                <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                                                <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- header-top-first end -->
                            </div>
                            <div class="col-xs-10 col-sm-7">

                                <!-- header-top-second start -->
                                <!-- ================ -->
                                <div id="header-top-second"  class="clearfix text-right">
                                    <nav>
                                        <ul class="list-inline">
                                            <li><a class="link-light " href="https://webapp.upeu.edu.pe/academico/login.jspt"><i class="fa fa-users pr-5"></i>Portal académico</a></li>
                                            <li><a class="link-light " href="https://webapp.upeu.edu.pe/admision/login.jspt"><i class="fa fa-user pr-5"></i>Admisión</a></li>
                                            <li><a class="link-light " href="https://patmos.upeu.edu.pe/epg"><i class="fa fa-child pr-5"></i>Patmos</a></li>
                                            <li class="hidden-sm hidden-xs"><strong class="pl-5"></strong> 01-618 6315</li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- header-top-second end -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header-top end -->

                <!-- header start -->
                <!-- classes:  -->
                <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
                <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
                <!-- "full-width": mandatory class for the full-width menu layout -->
                <!-- "centered": mandatory class for the centered logo layout -->
                <!-- ================ --> 
                <header class="header centered fixed    clearfix">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- header-first start -->
                                <!-- ================ -->


                                <!-- logo -->
                                <div id="logo" class="logo">
                                    <a href="index.html"><img src="https://s3.amazonaws.com/files.patmos.upeu.edu.pe/img/upload/epg/paginas/8490_1488820275.png" alt="Posgrado - UPeU" id="logo_img" align="left"></a>
                                </div>



                                <!-- header-first end -->

                            </div>
                            <div class="col-md-12">

                                <!-- header-second start -->
                                <!-- ================ -->
                                <div class="header-second clearfix">

                                    <!-- main-navigation start -->
                                    <!-- classes: -->
                                    <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                                    <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                                    <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                                    <!-- ================ -->
                                    <div class="main-navigation  animated with-dropdown-buttons">

                                        <!-- navbar start -->
                                        <!-- ================ -->
                                        <nav class="navbar navbar-default" role="navigation">
                                            <div class="container-fluid">

                                                <!-- Toggle get grouped for better mobile display -->
                                                <div class="navbar-header">
                                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                        <span class="sr-only">Toggle navigation</span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </button>

                                                </div>

                                                <!-- Collect the nav links, forms, and other content for toggling -->
                                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                    <!-- main-menu -->
                                                    <ul class="nav navbar-nav ">

                                                        <!-- mega-menu start -->
                                                        <li class="dropdown active">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Doctorados</a>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Administración de Negocios</a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="doctorados/adminisnegocios.html">Administración de Negocios</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Educación <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="features-headers-default.html">Currícula y Docencia</a></li>
                                                                        <li ><a href="features-headers-sticky-2.html">Docencia Educativa <span class="badge"></span></a></li>
                                                                    </ul>
                                                                </li>
                                                                <li ><a href="#">Teología</a></li>
                                                            </ul>
                                                        </li>
                                                        <!-- mega-menu end -->
                                                        <!-- mega-menu start -->
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maestrías</a>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="maestrias/empresariales/maestriasMBA.html">Administración de Negocios<span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="maestrias/empresariales/admin_nego/gestionEmpre.html">Gestión Empresarial</a></li>
                                                                        <li ><a href="maestrias/empresariales/admin_nego/adminRRHH.html">Administración de RRHH.</a></li>
                                                                        <li ><a href="maestrias/empresariales/admin_nego/finanzas.html">Finanzas</a></li>

                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Auditoría<span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="#">Auditoría Integral</a></li>

                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Educación <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="#">Administración Educativa</a></li>
                                                                        <li ><a href="#">Psicología Educativa <span class="badge"></span></a></li>
                                                                        <li ><a href="#">Investigación y Docencia Universitaria</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Enfermería <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="#">Administración y Gestión</a></li>
                                                                        <li ><a href="#">Cuidados para la salud Adulta <span class="badge"></span></a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Ciencias da la Familia <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="#">Terapia Familiar</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Ingeniería de Sistemas <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="#">Dirección y Gestión de TI</a></li>
                                                                        <li ><a href="#">Ingeniería de Software <span class="badge"></span></a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Nutrición <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="features-headers-default.html">Nutrición Vegetariana</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Salud Pública <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="maestrias/mph/mphsaludcolec.html">Salud Colectiva y Promoción de la Salud</a></li>
                                                                        <li ><a href="maestrias/mph/mphgestionser.html">Gestión de los servicios de la Salud <span class="badge"></span></a></li>
                                                                        <li ><a href="maestrias/mph/mphsaludmat.html">Salud Materno Infantil</a></li>
                                                                    </ul>
                                                                </li>

                                                                <li ><a href="features-grid.html">Teología</a></li>
                                                            </ul>
                                                            <!-- mega-menu end -->
                                                        <li class="dropdown ">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Especialidades</a>
                                                            <ul class="dropdown-menu">
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Enfermería <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="especialidades/enfermeria/adminygestion.html">Administración y Gestión</a></li>
                                                                        <li ><a href="especialidades/enfermeria/asesosiagenetica.html">Asesoría Genética en Enfermería Oncológica</a></li>
                                                                        <li ><a href="#">Administración y Gestión</a></li>
                                                                        <li ><a href="#">Cardiología</a></li>
                                                                        <li ><a href="#">Centro Quirúrgico</a></li>
                                                                        <li ><a href="#">Cirugía Cardiovascular</a></li>
                                                                        <li ><a href="#">Cuidado Integral Infantil</a></li>
                                                                        <li ><a href="#">Cuidados Intensivos</a></li>
                                                                        <li ><a href="#">Cuidados Intensivos Neonatales</a></li>
                                                                        <li ><a href="#">Cuidados Intensivos Pediátricos</a></li>
                                                                        <li ><a href="#">Cuidados Quirúrgicos</a></li>
                                                                        <li ><a href="#">Cuidados Quirúrgicos con mención en Recuperación Posanestésica</a></li>
                                                                        <li ><a href="#">Cuidados Quirúrgicos con mención en Traumatología y Ortopedia</a></li>
                                                                        <li ><a href="#">Emergencias y Desastres</a></li>
                                                                        <li ><a href="#">Gestión de Central de Esterilización</a></li>
                                                                        <li ><a href="#">Geriatría</a></li>
                                                                        <li ><a href="#">Gineco Obstetricia</a></li>
                                                                        <li ><a href="#">Nefrología</a></li>
                                                                        <li ><a href="#">Neurología y Neurocirugía</a></li>
                                                                        <li ><a href="#">Oncología</a></li>
                                                                        <li ><a href="#">Pediatría</a></li>
                                                                        <li ><a href="#">Perfusión Extracorpórea y Asistencia Circulatoria</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Investigación Científica</a>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Estadística Aplicada a la Investigación</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- mega-menu start -->
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Diplomados</a>
                                                            <ul class="dropdown-menu">

                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Ingeniería <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="#">Bussiness Process Management</a></li>
                                                                        <li ><a href="#">Estadística Aplicada para Pronóstico</a></li>
                                                                        <li ><a href="#">Estadística Multivariada</a></li>
                                                                        <li ><a href="#">Gestión y Evaluación de Proyectost</a></li>
                                                                        <li ><a href="#">Investigación Científica</a></li>
                                                                        <li ><a href="#">Inteligencia de Negocios</a></li>
                                                                        <li ><a href="#">Construcción y Validación de Instrumentos de Investigación</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Teología <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="features-headers-default.html">Capellanía Educacional</a></li>

                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <!-- mega-menu end -->
                                                        <li class="dropdown ">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cursos</a>
                                                            <ul class="dropdown-menu">

                                                                <li class="dropdown ">
                                                                    <a  class="dropdown-toggle" data-toggle="dropdown" href="#">Psicología <span class="badge"></span></a>
                                                                    <ul class="dropdown-menu">
                                                                        <li ><a href="Cursos/dificulapren.html">Evaluación de Intervención en Dificultades de Aprendizaje</a></li>
                                                                        <li ><a href="features-headers-sticky-2.html">Diseño y Formulación de Programas de Intervención en Poblaciones Vulnerables</a></li>
                                                                        <li ><a href="Cursos/terapiabreve.html">Terapia Breve Centrada en la Solución</a></li>
                                                                        <li ><a href="features-headers-default.html">Evaluación y Tratamiento de Abuso Sexual y Maltrato Infantil</a></li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="dropdown ">
                                                            <a href="index-shop.html" class="dropdown-toggle" data-toggle="dropdown">Más Servicios</a>
                                                            <ul class="dropdown-menu">
                                                                <li ><a href="#">Proceso de Admisión</a></li>
                                                                <li ><a href="#">Proceso de Matrícula</a></li>
                                                                <li ><a href="#">Proceso de Tesis</a></li>
                                                                <li ><a href="#">Directorío Telefónico</a></li>
                                                                <li ><a href="#">Portal de Egresado</a></li>
                                                            </ul>
                                                        </li>

                                                    </ul>
                                                    <!-- main-menu end -->

                                                    <!-- header buttons -->
                                                    <div class="header-dropdown-buttons">
                                                        <a href="contactenos.html" class="btn btn-sm hidden-xs btn-default">Contáctenos <i class="fa fa-envelope-o pl-5"></i></a>

                                                    </div>
                                                    <!-- header buttons end-->

                                                </div>

                                            </div>
                                        </nav>
                                        <!-- navbar end -->

                                    </div>
                                    <!-- main-navigation end -->
                                </div>
                                <!-- header-second end -->

                            </div>
                        </div>
                    </div>

                </header>
                <!-- header end -->
           
            <!-- header-container end -->
